extends layout

block load_css_js
  link(rel='stylesheet', href='/css/addpost.css')
  link(rel='stylesheet', href='/css/jquery.datetimepicker.css')
  script(src='/js/jquery.datetimepicker.js')
  link(rel='stylesheet', href='/css/sweetalert2.min.css')
  script(src='/js/sweetalert2.all.min.js')
block content
  .page-wrapper
    .container.pl-4.pr-4
      //- if message && message.content
      //-   script.
      //-     Swal.fire({
      //-       title: 'Add Bloc',
      //-       text: !{JSON.stringify(message.content)},
      //-       icon: !{JSON.stringify(message.type)},
      //-       confirmButtonText: 'OK'
      //-     });
      form(id="uploadForm", enctype='multipart/form-data')
        div
          .request-title Add Block
          hr
          br
          .row.pb-3
            .col-4
              span.request-span Company Name:
              em.request-important *
            .col-4
              input#txtCompanyDomain.form-control.form-control-sm(type='text', name='txtCompanyDomain', value='')
          .row.pb-3
            .col-4
              span.request-span Uploaded Date:
              em.request-important *
            .col-4
              input#txtUploadedDate.form-control.form-control-sm(type='text', name='txtUploadedDate', value='')
          .row.pb-3
            .col-4
              span.request-span Updated Date:
              em.request-important *
            .col-4
              input#txtUpdatedDate.form-control.form-control-sm(type='text', name='txtUpdatedDate', value='')
          .row.pb-3
            .col-4
              span.request-span Is Published:
            .col-4
              .form-check
                input#isPublished.form-check-input(type='checkbox', name='isPublished', checked="false")
          .row.pb-3
            .col-4
              span.request-span Deadline:
              em.request-important *
            .col-4 
              input#txtDeadlineDate.form-control.form-control-sm(type='text', name='txtDeadlineDate', value='')
          .row.pb-3
            .col-4
              span.request-span Download link:
              em.request-important *
            .col-4
              input#txtCompanyUrl.form-control.form-control-sm(type='text', name='txtCompanyUrl', value='')
          .row.pb-3
            .col-4
              span.request-span Company Logo:
            .col-4
              input#fileCompanyLogo(type='file', name='fileCompanyLogo', value='')
          .row.pb-3
            .col-4
              span.request-span Brief Desc:
              em.request-important *
            .col-4
              textarea#txtCompanyBriefDesc.form-control(type='text', name='txtCompanyBriefDesc', style='height: 50px;')
          .row.pb-3
            .col-4
              span.request-span Desc:
              em.request-important *
            .col-4 
              textarea#txtCompanyDesc.form-control(type='text', name='txtCompanyDesc', style='height: 100px;')
          br
          .row
            .text-center
              button#btnAddBlock.btn.btn--base.btn--success(type='submit') Add Block
  
  script(src='/js/addpost.js') 