extends layout

block load_css_js
  link(rel='stylesheet', href='/css/modal.css')
  link(rel='stylesheet', href='/css/buybitcoin.css')

block content
  .page-wrapper.tm
      .container
        .referal-container
          .post-banner.good
            div How to buy
            .timer Bitcoin
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .btc_pricing_heading_main_wrapper
              .btc_pricing_heading_wrapper
                h1 Ways To Buy Bitcoin
                span #
                h5
                  | There are some options to buy Bitcoin.
                  br
                  |  Choose what suits you the best.
        .p-4
          .row.col4-width
            .col-lg-2.col-md-4.col-sm-6
              a(href='#modal1')
                #btc_1.btc_pricing_box_wrapper
                  .btc_pricing_icon_wrapper
                    .btc_pricing_hover_effect
                      i.flaticon-bank-transfer
                      .btc_step_overlay
                  .btc_pricing_cont_wrapper
                    h3 Bank Account
                    .btc_pricing_cont_bottom_line
                    .btc_pricing_cont_bottom_line_state
                    p Advantages
                    ul
                      li
                        i.fa.fa-money-bill
                        | Safety
                      li
                        i.fa.fa-money-bill
                        |  Low Transaction Fees
                      li
                        i.fa.fa-money-bill
                        |  High Transaction Limits
                      li
                        i.fa.fa-money-bill
                        |  Convenience
            .col-lg-2.col-md-4.col-sm-6
              a(href='#modal2')
                #btc_2.btc_pricing_box_wrapper
                  .btc_pricing_icon_wrapper
                    .btc_pricing_hover_effect
                      i.flaticon-credit-card
                      .btc_step_overlay
                  .btc_pricing_cont_wrapper
                    h3 Credit Card
                    .btc_pricing_cont_bottom_line
                    .btc_pricing_cont_bottom_line_state
                    p Advantages
                    ul
                      li
                        i.fa.fa-money-bill
                        |  High Transaction Speed
                      li
                        i.fa.fa-money-bill
                        |  Convenience
                      li(style='visibility: hidden')
                        i.fa.fa-search
                        |  Low Transaction Fees
                      li(style='visibility: hidden')
                        i.fa.fa-laptop
                        |  Safety
            .col-lg-2.col-md-4.col-sm-6
              a(href='#modal3')
                #btc_3.btc_pricing_box_wrapper
                  .btc_pricing_icon_wrapper
                    .btc_pricing_hover_effect
                      i.flaticon-paypal
                      .btc_step_overlay
                  .btc_pricing_cont_wrapper
                    h3 PayPal
                    .btc_pricing_cont_bottom_line
                    .btc_pricing_cont_bottom_line_state
                    p Advantages
                    ul
                      li
                        i.fa.fa-money-bill
                        |  Safety
                      li
                        i.fa.fa-money-bill
                        |  Easy Proccess
                      li
                        i.fa.fa-money-bill
                        |  Fast Transactions
                      li
                        i.fa.fa-money-bill
                        |  Convenience
            .col-lg-2.col-md-4.col-sm-6
              a(href='#modal4')
                #btc_4.btc_pricing_box_wrapper
                  .btc_pricing_icon_wrapper
                    .btc_pricing_hover_effect
                      i.flaticon-bitcoin-pocket-or-wallet
                      .btc_step_overlay
                  .btc_pricing_cont_wrapper
                    h3 Cash Deposit
                    .btc_pricing_cont_bottom_line
                    .btc_pricing_cont_bottom_line_state
                    p Advantages
                    ul
                      li
                        i.fa.fa-money-bill
                        |  Low Risks
                      li
                        i.fa.fa-money-bill
                        |  Private
                      li
                        i.fa.fa-money-bill
                        |  Fast Proccess
                      li(style='visibility: hidden')
                        i.fa.fa-laptop
                    // <h4><a href="#modal4">find more</a></h4>
                    // <img src="/images/btc-bag-opacity.png">
        #modal1.modal-slide-up-down
          .modal-content
            a.modal-close(href='#mirrors', title='Close Modal') X
            h3 Bank Account
            .modal-area
              span.btc-exchange-list
                a.btc-link(href='https://www.binance.com', target='_blank') Binance
                a.btc-link(href='https://c2c.huobi.com/en-us/trade/buy-btc/', target='_blank') Huobi
                a.btc-link(href='https://www.kucoin.com', target='_blank') KuCoin
                a.btc-link(href='https://www.gate.io', target='_blank') Gate.IO
                a.btc-link(href='https://www.bestchange.com', target='_blank') Bestchange
                a.btc-link(href='https://www.coinmama.com/', target='_blank') Coinmama
                a.btc-link(href='https://www.bitpanda.com/', target='_blank') Bitpanda
                a.btc-link(href='https://www.coinfloor.org/', target='_blank') Coinfloor
                a.btc-link(href='https://www.kraken.com/', target='_blank') Kraken
                a.btc-link(href='https://coinfinity.co/', target='_blank') Coinfinity
                a.btc-link(href='https://btcdirect.eu/', target='_blank') BTC Direct
                a.btc-link(href='https://www.changeinvest.com/', target='_blank') Change Invest
                a.btc-link(href='https://www.coinbase.com/', target='_blank') Coinbase
                a.btc-link(href='https://exmo.com/en', target='_blank') EXMO
                a.btc-link(href='https://cex.io/', target='_blank') CEX.IO
                a.btc-link(href='https://www.bitfinex.com/', target='_blank') Bitfinex
                a.btc-link(href='https://www.bitstamp.net/', target='_blank') Bitstamp
                a.btc-link(href='https://www.gemini.com/', target='_blank') Gemini
                a.btc-link(href='https://lykke.com/', target='_blank') Lykke
                a.btc-link(href='https://btcbit.net/', target='_blank') BTCBiT
        #modal2.modal-slide-up-down
          .modal-content
            a.modal-close(href='#mirrors', title='Close Modal') X
            h3 Credit Card
            .modal-area
              span.btc-exchange-list
                a.btc-link(href='https://www.binance.com', target='_blank') Binance
                a.btc-link(href='https://c2c.huobi.com/en-us/trade/buy-btc/', target='_blank') Huobi
                a.btc-link(href='https://www.kucoin.com', target='_blank') KuCoin
                a.btc-link(href='https://www.gate.io', target='_blank') Gate.IO
                a.btc-link(href='https://www.bitfinex.com/', target='_blank') Bitfinex
                a.btc-link(href='https://www.bestchange.com', target='_blank') Bestchange
                a.btc-link(href='https://changelly.com/', target='_blank') Changelly
                a.btc-link(href='https://www.bitpanda.com/', target='_blank') Bitpanda
                a.btc-link(href='https://www.bitstamp.net/', target='_blank') Bitstamp
                a.btc-link(href='https://www.coinbase.com/', target='_blank') Coinbase
                a.btc-link(href='https://exmo.com/en', target='_blank') EXMO
                a.btc-link(href='https://cex.io/', target='_blank') CEX.IO
                a.btc-link(href='https://lykke.com/', target='_blank') Lykke
                a.btc-link(href='https://btcbit.net/', target='_blank') BTCBiT
                a.btc-link(href='https://changenow.io/', target='_blank') Change Now
        #modal3.modal-slide-up-down
          .modal-content
            a.modal-close(href='#mirrors', title='Close Modal') X
            h3 PayPal
            .modal-area
              span.btc-exchange-list
                a.btc-link(href='https://www.binance.com', target='_blank') Binance
                a.btc-link(href='https://www.coinbase.com', target='_blank') Coinbase
                a.btc-link(href='https://www.etoro.com/', target='_blank') Etoro
                a.btc-link(href='https://localbitcoins.com/', target='_blank') Localbitcoins
        #modal4.modal-slide-up-down
          .modal-content
            a.modal-close(href='#mirrors', title='Close Modal') X
            h3 Cash Deposit
            .modal-area
              span.btc-exchange-list
                a.btc-link(href='https://localbitcoins.com/', target='_blank') Localbitcoins
                a.btc-link(href='https://www.bestchange.com', target='_blank') Bestchange
                a.btc-link(href='https://www.bitquick.co/', target='_blank') Bitquick
                a.btc-link(href='https://libertyx.com/', target='_blank') Libertyx
                a.btc-link(href='https://bitit.io/', target='_blank') Bit it
                a.btc-link(href='https://bitcoindepot.com', target='_blank') Bitcoin ATMs
                a.btc-link2(href='https://coinatmradar.com/', target='_blank') Bitcoin ATM Radar