extends layout

block load_css_js
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/ticket/css/fontawesome-all.min.css')
  link(rel='stylesheet', href='/ticket/css/chosen.css')
  link(rel='stylesheet', href='/ticket/css/css2')
  link(rel='stylesheet', href='/ticket/css/line-awesome.min.css')
  link(rel='stylesheet', href='/ticket/css/animate.css')
  link(rel='stylesheet', href='/ticket/css/style.css')
  link(rel='stylesheet', href='/ticket/css/custom.css')
  link(rel='stylesheet', href='/ticket/css/iziToast.min.css')
  script(src='/ticket/js/iziToast.min.js')
  
  link(rel='stylesheet', href='/css/sweetalert2.min.css')
  script(src='/js/sweetalert2.all.min.js')

block content
  .page-wrapper.tm
      .container
        .referal-container
          .row
            .col-12.col-lg-6
              .contact-form-area.rounded-3.list-group-item
                h3.title Get In Touch
                p You can always write here, or agree to have your data deleted or something else.
                form.contact-form(id="contactForm")
                  input(type='hidden', name='ticketID', value='')
                  .row.justify-content-center.mb-10-none
                    .col-lg-6.col-md-6.form-group
                      input#txtName.form--control(type='text', name='name', placeholder='Enter name', required='')
                    .col-lg-6.col-md-6.form-group
                      input#txtEmail.form--control(type='email', name='email', value='  ', placeholder='Enter email', required='')
                    .col-lg-12.form-group
                      input#txtSubject.form--control(type='text', name='subject', placeholder='Enter subject', value='', required='')
                    .col-lg-12.form-group
                      textarea#txtMessage.form--control(name='message', placeholder='Enter Message', required='')
                    .col-lg-12.form-group
                      button.btn--base.btn--primary.rounded-3.mt-20(type='submit') Send Message
  
  script(src='/ticket/js/contact.js')
  