.container.pl-4.pr-4
    .footer-boder
        .p-3.ml-md-5.ml-md-6.ml-md-7.mr-xl-3.ml-sm-5.mr-3.ml-5.d-flex.justify-content-md-center.justify-content-end
            .row_foot.ml-md-5.ml-md-6.ml-md-7.d-block.d-sm-flex
                .col-xl-4.col-md-6.col-sm-6
                    a.footer-link-ref.footer-arrow.btc-img(href='/buybitcoin')
                        | How To Buy Bitcoin
                .col-xl-4.col-md-6.col-sm-6
                    a.footer-link-ref.footer-arrow.press-img(href='/contact_us')
                        | Contact us
                .col-xl-4.col-md-6.col-sm-6
                    a.footer-link-ref.footer-arrow.rules-img(href='/rules')
                        | Affiliate Rules
                .col-xl-4.col-md-6.col-sm-6
                    a.footer-link-ref.footer-arrow.blog-img(href='/tickets')
                        | My Tickets
    .countup-block
        .row
            .col-md-12
                a.bugbounty-link(href='/bug-bounty') Web Security &amp; Bug Bounty
                
script(src='/js/sweetalert2.all.min.js')
script(src='/timer/countup/jquery.countup.js')
script(src='/timer/js/script.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/modal.js', type='text/javascript')