.header
    if loggedin
        style.
            @media (min-width: 1400px) {
                .col-xxl-4 {
                    flex: 0 0 auto;
                    width: 33.3333333333% !important;
                }
            }
            .admin-new {
                color: #63ce24 !important;
            }
    else
        style.
            @media (min-width: 1400px) {
                .col-xxl-4 {
                    flex: 0 0 auto;
                    width: 50% !important;
                }
            }

    img#loading_global(src='/img/loading.gif')
    .header-container.h-100.d-flex.align-items-center.justify-content-between
        .d-flex.align-items-center
            .header-logo
                a(href='/')
                    img(src='/images/lock-logo.png', alt='', style='width: 90px;')
            .header-img-leaked
                a(href='/')
                    img(src='/images/leaker.png', alt='', style='width: 350px;')
        .container-header
            button.btn-menu-lines.not-dotted(type='button', data-toggle='dropdown')
            .row.dropdown-menu.dropdown-menu-right
                .col-xxl-4.col-xl-6.dropdown-item.header-link-ref.no-arrow
                    a.header-link-ref.btc-img(href='/buybitcoin')
                        | How To Buy Bitcoin
                .col-xxl-4.col-xl-6.dropdown-item.header-link-ref.no-arrow
                    a.header-link-ref.press-img(href='/contact_us')
                        | Contact us
                if loggedin
                    .col-xxl-4.col-xl-6.dropdown-item.header-link-ref.no-arrow
                        a.header-link-ref.mirrors-img.admin-new(href='/addpost')
                            | Add Blog
                .col-xxl-4.col-xl-6.dropdown-item.header-link-ref.no-arrow
                    a.header-link-ref.rules-img(href='/rules')
                        | Affiliate Rules
                .col-xxl-4.col-xl-6.dropdown-item.header-link-ref.no-arrow
                    if loggedin
                        a.header-link-ref.blog-img.admin-new(href='/tickets') My Tickets
                    else 
                        a.header-link-ref.blog-img(href='/tickets') My Tickets
                if loggedin
                    .col-xxl-4.col-xl-6.dropdown-item.header-link-ref.no-arrow
                        a.header-link-ref.mirrors-img.admin-new(href='/logout')
                            | Log Out
