extends layout

block load_css_js
  link(rel='stylesheet', href='/css/blog.css')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/ticket/css/fontawesome-all.min.css')
  link(rel='stylesheet', href='/ticket/css/line-awesome.min.css')

block content
  .page-wrapper
    .container
      .input-group.mb-3
        input#input-search.form-control(type='text', placeholder='Search...', aria-label='Search', aria-describedby='basic-addon2', value='#{search || ""}')
        button#button-search.btn.btn-default(type='button')
          i.fa.fa-search

      .post-big-list
        if postCount > 0
          each item in items
            if item.is_published == 0
              a.post-block.bad(id='block#{item.id}', href='showpost?id=#{item.id}', target='_self')
                .post-head
                  .post-top-block
                    .post-title-block
                      .post-title= item.company_name
                      div(style='display: flex; justify-content: center; flex-wrap: wrap;')
                        .post-timer(style='width:100%')
                          .timer(data-timer=item.deadlineTimer)
                            span.days 0
                            | D
                            span.hours 0
                            | H
                            span.minutes 0
                            | M
                            span.seconds 0
                            | S
                      .post-timer-end.d-none
                        | published
                .post-block-body
                  .post-block-text= item.brief_description
                .views
                  .updated-post-date
                    span
                      img(style='filter: opacity(40%);padding-right: 2px', src='/images/clock2.svg', alt='', width='20')
                      | Updated: #{item.updated_date}
                  div
                    span(style='filter: opacity(30%); font-size: 12px; font-weight: bold') #{item.views_count}
                    img(style='filter: opacity(30%);' src='/images/view-show.svg', width='20', alt='')
                    if loggedin
                      img(name='delBloc', data-id='#{item.id}', style='margin-left: 5px;', src='/images/trash.svg', alt='', width='20')
            else 
              a.post-block.good(id='block#{item.id}', href='showpost?id=#{item.id}', target='_self')
                .post-head
                  .post-top-block
                    .post-title-block
                      .post-title= item.company_name
                      div(style='display: flex; justify-content: center; flex-wrap: wrap;')
                      .post-timer-end
                        | published
                .post-block-body
                  .post-block-text= item.brief_description
                .views
                  .updated-post-date
                    span
                      img(style='filter: opacity(40%);padding-right: 2px', src='/images/clock2.svg', width='20', alt='')
                      | Updated: #{item.updated_date}
                  div
                    span(style='filter: opacity(30%); font-size: 12px; font-weight: bold') #{item.views_count}
                    img(style='filter: opacity(30%);' src='/images/view-show.svg', width='20', alt='')
                    if loggedin
                      img(name='delBloc', data-id='#{item.id}', style='margin-left: 5px;', src='/images/trash.svg', alt='', width='20')
      include paginate

      script.
        $('[name=delBloc]').on('click', function(event) {
          event.preventDefault();
          Swal.fire({
              title: "Confirmation",
              text: "Are you sure you want to delete post?",
              icon: "question",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes",
              cancelButtonText: "No",
            }).then((result) => {
              if (result.isConfirmed) {
                var delURL = window.location.protocol + '//' + window.location.host + '/delpost';
                var blockId = $(this).data("id");
                $.ajax({
                  url: delURL,
                  method: 'POST',
                  data: {
                    id: blockId
                  },
                  success: function(response) {
                    $('#block' + blockId).remove();
                  },
                  error: function(xhr, status, error) {
                    console.error('Request failed with status:', status);
                  }
                });
                return true;
              } else {
                return false;
              }
            });

          
          event.stopPropagation();
        });

        $('#input-search').on("keydown", function(evt) {
          if (evt.keyCode == 13)
            search(evt.currentTarget.value);
        });

        $("#button-search").on("click", function() {
          search($('#input-search').val());
        });

        var search = function(val) {
          location.href = "?search=" + val;
        }