extends layout

block load_css_js

block content
  .page-wrapper.tm
      .container
        .referal-container
          .post-banner
            div Our reserve
            .timer Mirrors
      .row
        .wd_scroll_wrap(section-scroll='4')
          section#steps.steps-details.bg-mg
            .container
              .row
                .col-lg-10.col-md-10.col-sm-12.col-xs-12.col-md-offset-1.col-lg-offset-1
                  .steps-cont
                    ul
                      li.l-con.polovinka_bottom
                        .cont.wow.fadeIn.animated(data-wow-duration='1.0s', style='visibility: visible; animation-duration: 1s; animation-name: fadeIn;')
                          .mirror-block
                            h2 01. Blog Mirrors
                            p
                              | A list of our blog mirrors.
                              br
                              | You always have access to the website.
                            .btc-links
                              //- a.btc-link(href='http://lockbitapt2d73krlbewgv27tquljgxr33xbwwsp6rkyieto7u4ncead.onion', target='_blank') Mirror 1
                              //- a.btc-link(href='http://lockbitapt2yfbt7lchxejug47kmqvqqxvvjpqkmevv4l3azl3gy6pyd.onion', target='_blank') Mirror 2
                              //- a.btc-link(href='http://lockbitapt34kvrip6xojylohhxrwsvpzdffgs5z4pbbsywnzsbdguqd.onion', target='_blank') Mirror 3
                              //- a.btc-link(href='http://lockbitapt5x4zkjbcqmz6frdhecqqgadevyiwqxukksspnlidyvd7qd.onion', target='_blank') Mirror 4
                              //- a.btc-link(href='http://lockbitapt6vx57t3eeqjofwgcglmutr3a35nygvokja5uuccip4ykyd.onion', target='_blank') Mirror 5
                              //- a.btc-link(href='http://lockbitapt72iw55njgnqpymggskg5yp75ry7rirtdg4m7i42artsbqd.onion', target='_blank') Mirror 6
                              //- a.btc-link(href='http://lockbitaptawjl6udhpd323uehekiyatj6ftcxmkwe5sezs4fqgpjpid.onion', target='_blank') Mirror 7
                              //- a.btc-link(href='http://lockbitaptbdiajqtplcrigzgdjprwugkkut63nbvy2d5r4w2agyekqd.onion', target='_blank') Mirror 8
                              //- a.btc-link(href='http://lockbitaptc2iq4atewz2ise62q63wfktyrl4qtwuk5qax262kgtzjqd.onion', target='_blank') Mirror 9
                              a.btc-link(href='/', target='_blank') Mirror 1
                              a.btc-link(href='/', target='_blank') Mirror 2
                              a.btc-link(href='/', target='_blank') Mirror 3
                              a.btc-link(href='/', target='_blank') Mirror 4
                              a.btc-link(href='/', target='_blank') Mirror 5
                              a.btc-link(href='/', target='_blank') Mirror 6
                              a.btc-link(href='/', target='_blank') Mirror 7
                              a.btc-link(href='/', target='_blank') Mirror 8
                              a.btc-link(href='/', target='_blank') Mirror 9
                        span
                          img(src='/images/icons/cloud.svg', width='30')
                      li.r-con
                        .cont.wow.fadeIn.animated(data-wow-duration='1.3s', style='visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;')
                          .mirror-block
                            h2 02. Servers with backups and direct links
                            .btc-links
                              a.btc-link(target='_blank', href='http://lockbit7z2jwcskxpbokpemdxmltipntwlkmidcll2qirbu7ykg46eyd.onion') Mirror 1
                              a.btc-link(target='_blank', href='http://lockbit7z2mmiz3ryxafn5kapbvbbiywsxwovasfkgf5dqqp5kxlajad.onion') Mirror 2
                              a.btc-link(target='_blank', href='http://lockbit7z2og4jlsmdy7dzty3g42eu3gh2sx2b6ywtvhrjtss7li4fyd.onion') Mirror 3
                              a.btc-link(target='_blank', href='http://lockbit7z355oalq4hiy5p7de64l6rsqutwlvydqje56uvevcc57r6qd.onion') Mirror 4
                              a.btc-link(target='_blank', href='http://lockbit7z36ynytxwjzuoao46ck7b3753gpedary3qvuizn3iczhe4id.onion') Mirror 5
                              a.btc-link(target='_blank', href='http://lockbit7z37ntefjdbjextn6tmdkry4j546ejnru5cejeguitiopvhad.onion') Mirror 6
                              a.btc-link(target='_blank', href='http://lockbit7z3azdoxdpqxzliszutufbc2fldagztdu47xyucp25p4xtqad.onion') Mirror 7
                              a.btc-link(target='_blank', href='http://lockbit7z3ddvg5vuez2vznt73ljqgwx5tnuqaa2ye7lns742yiv2zyd.onion') Mirror 8
                              a.btc-link(target='_blank', href='http://lockbit7z3hv7ev5knxbrhsvv2mmu2rddwqizdz4vwfvxt5izrq6zqqd.onion') Mirror 9
                              a.btc-link(target='_blank', href='http://lockbit7z3ujnkhxwahhjduh5me2updvzxewhhc5qvk2snxezoi5drad.onion') Mirror 10
                              a.btc-link(target='_blank', href='http://lockbit7z4bsm63m3dagp5xglyacr4z4bwytkvkkwtn6enmuo5fi5iyd.onion') Mirror 11
                              a.btc-link(target='_blank', href='http://lockbit7z4cgxvictidwfxpuiov4scdw34nxotmbdjyxpkvkg34mykyd.onion') Mirror 12
                              a.btc-link(target='_blank', href='http://lockbit7z4k5zer5fbqi2vdq5sx2vuggatwyqvoodrkhubxftyrvncid.onion') Mirror 13
                              a.btc-link(target='_blank', href='http://lockbit7z4ndl6thsct34yd47jrzdkpnfg3acfvpacuccb45pnars2ad.onion') Mirror 14
                              a.btc-link(target='_blank', href='http://lockbit7z55tuwaflw2c7torcryobdvhkcgvivhflyndyvcrexafssad.onion') Mirror 15
                              a.btc-link(target='_blank', href='http://lockbit7z57mkicfkuq44j6yrpu5finwvjllczkkp2uvdedsdonjztyd.onion') Mirror 16
                              a.btc-link(target='_blank', href='http://lockbit7z5ehshj6gzpetw5kso3onts6ty7wrnneya5u4aj3vzkeoaqd.onion') Mirror 17
                              a.btc-link(target='_blank', href='http://lockbit7z5hwf6ywfuzipoa42tjlmal3x5suuccngsamsgklww2xgyqd.onion') Mirror 18
                              a.btc-link(target='_blank', href='http://lockbit7z5ltrhzv46lsg447o3cx2637dloc3qt4ugd3gr2xdkkkeayd.onion') Mirror 19
                              a.btc-link(target='_blank', href='http://lockbit7z6choojah4ipvdpzzfzxxchjbecnmtn4povk6ifdvx2dpnid.onion') Mirror 20
                              a.btc-link(target='_blank', href='http://lockbit7z6dqziutocr43onmvpth32njp4abfocfauk2belljjpobxyd.onion') Mirror 21
                              a.btc-link(target='_blank', href='http://lockbit7z6f3gu6rjvrysn5gjbsqj3hk3bvsg64ns6pjldqr2xhvhsyd.onion') Mirror 22
                              a.btc-link(target='_blank', href='http://lockbit7z6qinyhhmibvycu5kwmcvgrbpvtztkvvmdce5zwtucaeyrqd.onion') Mirror 23
                              a.btc-link(target='_blank', href='http://lockbit7z6rzyojiye437jp744d4uwtff7aq7df7gh2jvwqtv525c4yd.onion') Mirror 24
                        span
                          img(src='/images/icons/ftp.svg', width='30')
                      li.l-con.polovinka
                        .cont.wow.fadeIn.animated(data-wow-duration='1.6s', style='visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;')
                          #steps.mirror-block
                            h2 03. Chats Reserve Mirrors
                            p
                              | A list of victim chats mirrors.
                              br
                              | You can chat without any troubles.
                            .btc-links
                              a.btc-link(target='_blank', href='http://lockbitsupa7e3b4pkn4mgkgojrl5iqgx24clbzc4xm7i6jeetsia3qd.onion') Mirror 1
                              a.btc-link(target='_blank', href='http://lockbitsupdwon76nzykzblcplixwts4n4zoecugz2bxabtapqvmzqqd.onion') Mirror 2
                              a.btc-link(target='_blank', href='http://lockbitsupn2h6be2cnqpvncyhj4rgmnwn44633hnzzmtxdvjoqlp7yd.onion') Mirror 3
                              a.btc-link(target='_blank', href='http://lockbitsupo7vv5vcl3jxpsdviopwvasljqcstym6efhh6oze7c6xjad.onion') Mirror 4
                              a.btc-link(target='_blank', href='http://lockbitsupq3g62dni2f36snrdb4n5qzqvovbtkt5xffw3draxk6gwqd.onion') Mirror 5
                              a.btc-link(target='_blank', href='http://lockbitsupqfyacidr6upt6nhhyipujvaablubuevxj6xy3frthvr3yd.onion') Mirror 6
                              a.btc-link(target='_blank', href='http://lockbitsupt7nr3fa6e7xyb73lk6bw6rcneqhoyblniiabj4uwvzapqd.onion') Mirror 7
                              a.btc-link(target='_blank', href='http://lockbitsupuhswh4izvoucoxsbnotkmgq6durg7kficg6u33zfvq3oyd.onion') Mirror 8
                              a.btc-link(target='_blank', href='http://lockbitsupxcjntihbmat4rrh7ktowips2qzywh6zer5r3xafhviyhqd.onion') Mirror 9
                        span.l3
                          img(src='/images/icons/chat.svg', width='30')