script(defer='defer', src='/pagination/main.js')
link(href='/pagination/main.css', rel='stylesheet')

.dg-status-box
  .dg-paging(style='visibility: visible;')
    .pagination
      button(data-index='first', onclick="onPageClicked('/?page=1')") &laquo;
      if currentPage > 1
        button(data-index='prev', onclick="onPageClicked('/?page=#{currentPage - 1}')") &lsaquo;
      else
        button(data-index='prev', disabled='') &lsaquo;
      #number-pages.dg-number-pages
        - var i = 1
        while i <= totalPages
          if currentPage == i
            button.active.current(href='/?page=#{i}', tabindex='#{i}', data-index='#{i}', onclick="onPageClicked('/?page=#{i}')")= i
          else
            button(href='/?page=#{i}', tabindex='#{i}', data-index='#{i}', onclick="onPageClicked('/?page=#{i}')")= i
          - i++
      if currentPage < totalPages
        button(data-index='next', onclick="onPageClicked('/?page=#{currentPage + 1}')") &rsaquo;
      else
        button(data-index='next', disabled='') &rsaquo;
      button(data-index='last', onclick="onPageClicked('/?page=#{totalPages}')") &raquo;