extends layout

block load_css_js

block content
  .page-wrapper.tm
      .container
        .referal-container
          .post-banner.good
            div Affiliate
            .timer Rules
          .container.d-flex.align-items-center.justify-content-center.bordered
            .row.flags-background
              div
                img.flags.get_rules_translate(data-lang='en', title='English', src='/images/flags/uk.svg')
              div
                img.flags.get_rules_translate(data-lang='ch', title='Chinese', src='/images/flags/china.svg')
              div
                img.flags.get_rules_translate(data-lang='sp', title='Spanish', src='/images/flags/spain.svg')
              div
                img.flags.get_rules_translate(data-lang='hi', title='Hindi', src='/images/flags/india.svg')
              div
                img.flags.get_rules_translate(data-lang='ar', title='Arabic', src='/images/flags/arab.svg')
              div(style='padding-top: 7px')
                img.flags.get_rules_translate(data-lang='be', title='Bengali', src='/images/flags/bangladesh.svg')
              div
                img.flags.get_rules_translate(data-lang='po', title='Portuguese', src='/images/flags/portugal.svg')
              div
                img.flags.get_rules_translate(data-lang='ru', title='Russian', src='/images/flags/russia.svg')
              div
                img.flags.get_rules_translate(data-lang='jp', title='Japanese', src='/images/flags/japan.svg')
              div(style='padding-top: 7px')
                img.flags.get_rules_translate(data-lang='lh', title='Lahnda', src='/images/flags/pakistan.svg')
              .w-100
              div
                img.flags.get_rules_translate(data-lang='ma', title='Marathi', src='/images/flags/malaysia.svg')
              div
                img.flags.get_rules_translate(data-lang='tu', title='Turkish', src='/images/flags/turkey.svg')
              div
                img.flags.get_rules_translate(data-lang='ko', title='Korean', src='/images/flags/south-korea.svg')
              div
                img.flags.get_rules_translate(data-lang='fr', title='French', src='/images/flags/france.svg')
              div
                img.flags.get_rules_translate(data-lang='de', title='German', src='/images/flags/germany.svg')
              div
                img.flags.get_rules_translate(data-lang='vi', title='Vietnamese', src='/images/flags/vietnam.svg')
              div
                img.flags.get_rules_translate(data-lang='ta', title='Tamil', src='/images/flags/india.svg')
              div
                img.flags.get_rules_translate(data-lang='ja', title='Javanese', src='/images/flags/indonesia.svg')
              div
                img.flags.get_rules_translate(data-lang='it', title='Italian', src='/images/flags/italy.svg')
              div
                img.flags.get_rules_translate(data-lang='pe', title='Persian', src='/images/flags/iran.svg')
          .referal-info-block
            #content.mb-3.rules-font
              .text-center.mb-3(style='font-size: 1em;')
                b The oldest international [Ransomware] Dispossessor affiliate program welcomes you.
              pre.
                We are located in the Netherlands, completely apolitical and only interested in money.
                We always have an unlimited amount of affiliates, enough space for all professionals. It does not matter what country you live in, what types of language you speak, what age you are, what religion you believe in, anyone on the planet can work with us at any time of the year.
                First and foremost, we're looking for cohesive and experienced teams of pentestors.
                In the second turn we are ready to work with access providers: sale or on a percentage of redemption, but you have to trust us completely. We provide a completely transparent process - you can control the communication with the victim. In case when the company was encrypted and has not paid, you will see the stolen data in the blog.
                We also work with those who don't encrypt networks, but just want to sell the stolen data, posting it on the largest blog on the planet.
              b Brief description of functionality:
              pre.
                - admin panel on the Tor network;
                - communication with companies on the Tor network, chat with notifications and file transfer;
                - the ability to create private chats for secret communication with companies;
                - automatic decryption of test files;
                - automatic decrypter output, by pressing the button in the panel;
                - possibility of maximum protection of the decrypter, in this case the decrypter is stored on the flash drive;
                - StealBit stealer, searchable by file name and extension;
                - automatic data uploading to the blog, by you personally without our participation;
                - Possibility to specify any Internet port in StealBit for downloading, for example 22 or 3389, to bypass network security policies;
                - The ability to upload pictures to the blog;
                - Ability to post the history of correspondence with the attacked company to the blog;
                - ability to generate builds with different settings, but with one encryption key for one corporate network;
                - 2 different encryption lockers for Windows in one panel, written by different programmers, allowing to encrypt the network twice, if time allows, it will be useful for paranoiacs who doubt the reliability and implementation of the cryptographic algorithm and believe in free decryption;
                - ability to edit the list to kill processes and services;
                - ability to edit the list of exceptions - computer name, names and file extensions that do not need to be encrypted;
                - the fastest and most efficient cleanup (without the possibility of recovery) of free space after encryption;
                - file name encryption, helps to avoid even partial recovery of a piece of information from the desired file;
                - killing and removing Windows Defender;
                - impersonation to automatically elevate permissions on local computers;
                - SafeMode operation for bypassing anti-viruses and stronger encryption;
                - port scanner in local subnets, can detect all shared DFS, SMB, WebDav resources;
                - automatic distribution in the domain network at runtime without the need for scripts, GPO or psexec methods;
                - safely delete the shadow copies;
                - delete artifacts from system journals. It necessary to protect from forensics examination;
                - shutting down the computer after finishing work, to make it impossible to remove the dump from RAM;
                - printing claims on network printers in infinite numbers;
                - work on all versions of Windows, with very flexible settings (exe, dll, ReflectiveDll, ps1);
                - running on all versions of ESXi (except 4.0), with very flexible settings;
                - work on multiple Linux versions (14 architectures for NAS encryption, RedHat, KVM and others);

                All this and much more awaits you, if you join our team. If you do not find one of your favorite features, please inform us, maybe we will add it especially for you.
              b Rules of the affiliate program:
              pre.
                You must be active to work with our software package.
                It is strictly forbidden to give access to the panel to other people. If you work with an affiliate, you may be given a sub-account with correspondence reading rights for your affiliate. You should be aware that your partner may turn out to be a mole or be arrested by the police at any moment.
                It is forbidden not to fulfill agreements that you stated in chat before payment. For example, promising to give a file tree, and then not doing so.
                It is imperative to download valuable information from every company you attack. If you can't bypass your firewall settings and you don't have the ability to download the information, then perhaps our proprietary StealBit Stealer can help you.
                It is not forbidden to work with competitors, but be sure to report it and explain why and what you like from your competitors, we will implement any of your worthy wishes, we care very much about progress and constant development.
              b Categories of targets to attack:
              pre.
                It is illegal to encrypt files in critical infrastructure, such as nuclear power plants, thermal power plants, hydroelectric power plants, and other similar organizations. Allowed to steal data without encryption. If you can't figure out if an organization is a critical infrastructure, ask your helpdesk.
                The oil and gas industry, such as pipelines, gas pipelines, oil production stations, refineries, and other similar organizations are not allowed to be encrypted. It is allowed to steal data without encryption.
                It is forbidden to attack the post-Soviet countries such as: Armenia, Belarus, Georgia, Kazakhstan, Kyrgyzstan, Latvia, Lithuania, Moldova, Russia, Tajikistan, Turkmenistan, Uzbekistan, Ukraine and Estonia. This is due to the fact that most of our developers and partners were born and grew up in the Soviet Union, the former largest country in the world, but now we are located in the Netherlands.

                It is allowed to attack non-profit organizations. If an organization has computers, it must take care of the security of the corporate network.
                It is allowed to attack any educational institutions as long as they are private and have a revenue.
                It is allowed to very carefully and selectively attack medical related institutions such as pharmaceutical companies, dental clinics, plastic surgeries, especially those that change sex and force to be very careful in Thailand, as well as any other organizations provided that they are private and have rhubarb. It is forbidden to encrypt institutions where damage to the files could lead to death, such as cardiology centers, neurosurgical departments, maternity hospitals and the like, that is, those institutions where surgical procedures on high-tech equipment using computers may be performed. It is allowed to steal data from any medical facilities without encryption, as it may be a medical secret and must be strictly protected in accordance with the law. If you can't pinpoint whether or not a particular medical organization can be attacked, contact the helpdesk.
                It is very commendable to attack police stations and any other law enforcement agencies that are engaged in finding and arresting hackers, they do not appreciate our useful work as a pentest with postpaid and consider it a violation of the law, we should show them that a competent computer network setup is very important and write a fine for computer illiteracy.
                It is allowed to attack government organizations, only with revenue.
              b Percentage rate of affiliate program is 20%
              |  of the ransom, if you think that this is too much and because of this you are working with another affiliate program or using your personal software, then you should not deny yourself the pleasure of working with us, just increase the amount of ransom by 20% and be happy.
              pre.
                You receive payments from companies to your personal wallets in any convenient currency and only then transfer the share to our affiliate program. However, for ransom amounts over $500 thousand, you give the attacked company 2 wallets for payment - one is yours, to which the company will transfer 80%, and the second is ours for 20%, thus we will be protected from scam on your part.
                
                You personally communicate with the attacked companies and decide yourself how much money to take for your invaluable pentest work, which should surely be generously paid.
                
                It is very important for us to know about all our strengths and weaknesses in order to constantly improve our service.
                
                Every candidate to join our affiliate program should understand that we are constantly trying to be hacked and harmed in some way. This is why we pay a lot of attention to the candidates who join our partnership program. When joining, a lot of factors are taken into consideration, such as the reputation on the forums, the team composition, evidence of work with other affiliate programs, your wallet balance, the amount of previous payments and much more. You can also join our team by a guarantee of our partners, who are already active and time-tested.
                
                After many years of experience, we concluded that the most effective way to test a candidate for accession is a deposit. When you join, you deposit 1 bitcoin in our wallet, in fact, this amount is an advance and will be used at your subsequent payments as payment for our 20% share. For example, the company paid you a ransom for decrypting 100 bitcoins, you have to transfer a share of 20 bitcoins to us, but thanks to the deposit you made when you joined, the amount of the share paid will be 19 bitcoins. This procedure is required only once, only when you join the affiliate program. The deposit weeds out insecure newbies, cops, FBI agents, journalists, white haters, web pentesters, competitors, and other small rodent pests. The deposit amount may be reduced or not required at all, depending on what reputation you have and what information you can provide about yourself. For those who are afraid to trust us with their money and think that we are scammers, it is possible to carry out this procedure through a guarantor, any reputable forum, in this case, you make a deposit on the balance of the forum, where we describe the conditions of the deposit, which are very simple, for example, if you can not earn 5 bitcoins in a month, then your deposit goes to us.
                
                Please, be understanding with such a careful attitude to your candidacy, because you personally would not be very pleased if your newly encrypted company was decrypted for free by the FBI thanks to some person who easily gained access to the panel and made a masterful hack of our servers using zero-day vulnerabilities.
              b Recommended, but not required, application form when joining:
              pre.
                1) Links to your profiles on various hacker forums - the older your account, the better.
                2) Describe your experience with other affiliate programs, preferably with some evidence, such as screenshots and transactions that show your payouts.
                3) Show your balance in cryptocurrency at the moment.
                4) Explain the reasons why you left another affiliate program and want to work with us.
                5) Tell about the current accesses you have and are ready to attack immediately after joining us. It is recommended to prove yourself immediately after joining - the sooner you get the first payment, the less doubt will be cast on your identity.
                6) It is desirable to have already downloaded information for the blog from the intended target for the attack and provide evidence of the existence of this information, such as screenshots, file tree or access to these files.
                7) Ask your friends or acquaintances who already work with us to vouch for you.
                8) Request a bitcoin or monero wallet to make a deposit, in case you are confident in your abilities and ready to earn millions of dollars with us.
              b To summarize, the reasons why it is better to work with us:
              pre.
                Dispossessor brand - the whole planet knows about us, we are trusted by encrypted companies, we have shown everyone that it is safe to cooperate with us, we are responsible for our words, we have never cheated anyone and always fulfill our agreements. Decrypter work, stolen data is deleted.
                Stability: we have been working for 3 years, and no negative news regarding ransomware could scare and stop us, and so far we could not be caught by the FBI. If they couldn't catch us in 3 years, they probably never will, and we will keep working.
                Probably the best software and the most extensive list of operating systems and architectures you can attack.
                You negotiate and make all the decisions yourself.
                Payments to your wallet: there is no way we can cheat you and commit exit scams, as many affiliate programs have done and will continue to do. In addition, in 3 years we have earned a lot of money, so much so that there is no point in ruining your reputation because of some insignificant amount of a few million dollars.
                We store stolen company data for as long as possible on our blog so that companies are afraid to allow leaks and pay for stolen data if there are backups and there is no need to pay for a decrypter.
                We have no payout limits - you can encrypt RDP individuals or companies with any income level, any payout is nice for us - both $5,000,000 and $50 million, because we love our work and the process itself, and money is just a nice addition.
                The best anti-ddos protection and a lot of mirrors, stability of communication with companies is very important for getting payouts.
                Possibility to create private chats for secret communication with Recovery companies: it is very useful to keep secrecy of correspondence and avoid disrupting negotiations.
                Decrypter security: the maximum protection for decrypters allows you to be sure that your company will not be decrypted for free due to any vulnerabilities in the web panel.
                Bug bounty program: we understand that there is always a possibility of zero-day vulnerability attacks and we fight this threat with all possible means.
              b
                | This page is translated in Google translator. If you are a native speaker and you see a
                | grammatical error, please let us know so that we can correct it and thus show respect to
                | your language and culture.
