extends layout

block load_css_js
  link(rel='stylesheet', href='/lc_lightbox/css/lc_lightbox.css')
  link(rel='stylesheet', href='/lc_lightbox/css/open_close_fx.css')
  link(rel='stylesheet', href='/lc_lightbox/skins/minimal.css')
  link(rel='stylesheet', href='/gallery/lightbox/css/wt-lightbox.css')
  link(rel='stylesheet', href='/gallery/css/thumb-scroller.css')
  link(rel='stylesheet', href='/css/sweetalert2.min.css')
  link(rel='stylesheet', href='/css/modal.css')
  link(rel='stylesheet', href='/css/blog.css')

  script(type='text/javascript', src='/lc_lightbox/js/lc_lightbox.js')
  script(type='text/javascript', src='/lc_lightbox/lib/AlloyFinger/alloy_finger.min.js')
  script(type='text/javascript', src='/gallery/lightbox/js/jquery.wt-lightbox.js')
  script(type='text/javascript', src='/gallery/js/jquery.thumb-scroller.js')
  script.
    var slug = '2db7IL9oku5TH0Oz6578987ed2e07';

block content
  .container.pb-3
      .post-wrapper(data-browse='')
        .post-banner.post-page.d-none
          div files
          .timer are encrypted
          div
            | by Lock
            span.red Bit
        .post-banner.post-page
        p.post-banner-p Deadline: 02 Jan, 2024 22:15:01 UTC 
        .post-company-info
          .post-company-img
            | [no logo]
          .post-company-content
            .post-big-title
              | dena.de
            .desc
              | In 2023, the German Energy Agency (dena) awards once again prizes to innovative and creative
              | companies whose projects and concepts increase energy&mldr; Read more News 29/03/23 Winners in five
              | categories: dena presents Start Up Energy Transition Award 2023
            .uploaded-updated-date
              .uploaded-date
                .uploaded-date-label Uploaded:
                .uploaded-date-utc
                  | 12 Dec, 2023 17:29 UTC
              .updated-date
                .updated-date-label Updated:
                .updated-date-utc
                  | 29 Dec, 2023 18:23 UTC
        #modal_open_chat.modal
          span.close_modal &times;
          .modal-content(style='background: white;') Loading...
          #caption
        // End Of Modal Blocks For Paying Buttons
        // Modal Block For Paying Buttons (Download Torrent)
        //
          End of Modal Block For Paying Buttons (Download Torrent)
        //
          End Of Modal Blocks For Paying Buttons
        //
          End Of Paying Block
        //
          Timers and downloads block
        //
          If additional timer is set up and it !==0 then all buttons have attribute nonactive
        .additional-timer-block
          div
        //
          Timers and download file block
        //
          If timer !==0 (and there are files, archives, torrents or mirrors) all buttons have attribute nonactive
        .post-download-block.mb-3
          .download-buttons-block.mb-3
        .select-file-text *Download archives from reserve servers
        .additional-timer
        .reserve-links
          a.chat-open-btn.reserve-links-btn.active(target='_blank', href='http://lockbit7z2jwcskxpbokpemdxmltipntwlkmidcll2qirbu7ykg46eyd.onion/secret/5c60836b0eccdc9845b9c9e278e0033a/dena.de/')
            span(style='margin:0 auto') link #1
          a.chat-open-btn.reserve-links-btn.active(target='_blank', href='http://lockbit7z2mmiz3ryxafn5kapbvbbiywsxwovasfkgf5dqqp5kxlajad.onion/secret/5c60836b0eccdc9845b9c9e278e0033a/dena.de/')
            span(style='margin:0 auto') link #2
          a.chat-open-btn.reserve-links-btn.active(target='_blank', href='http://lockbit7z2og4jlsmdy7dzty3g42eu3gh2sx2b6ywtvhrjtss7li4fyd.onion/secret/5c60836b0eccdc9845b9c9e278e0033a/dena.de/')
            span(style='margin:0 auto') link #3
          a.chat-open-btn.reserve-links-btn.active(target='_blank', href='http://lockbit7z355oalq4hiy5p7de64l6rsqutwlvydqje56uvevcc57r6qd.onion/secret/5c60836b0eccdc9845b9c9e278e0033a/dena.de/')
            span(style='margin:0 auto') link #4
          a.chat-open-btn.reserve-links-btn.active(target='_blank', href='http://lockbit7z36ynytxwjzuoao46ck7b3753gpedary3qvuizn3iczhe4id.onion/secret/5c60836b0eccdc9845b9c9e278e0033a/dena.de/')
            span(style='margin:0 auto') link #5
          a.chat-open-btn.reserve-links-btn.active(target='_blank', href='http://lockbit7z37ntefjdbjextn6tmdkry4j546ejnru5cejeguitiopvhad.onion/secret/5c60836b0eccdc9845b9c9e278e0033a/dena.de/')
            span(style='margin:0 auto') link #6
          a.chat-open-btn.reserve-links-btn.active(target='_blank', href='http://lockbit7z3azdoxdpqxzliszutufbc2fldagztdu47xyucp25p4xtqad.onion/secret/5c60836b0eccdc9845b9c9e278e0033a/dena.de/')
            span(style='margin:0 auto') link #7