extends layout

block load_css_js
  link(rel='stylesheet', href='/css/sweetalert2.min.css')
  link(rel='stylesheet', href='/css/modal.css')
  link(rel='stylesheet', href='/css/blog.css')
  
  script(type='text/javascript', src='/js/listing.js')
  //- link(rel='stylesheet', href='/lc_lightbox/css/lc_lightbox.css')
  //- link(rel='stylesheet', href='/lc_lightbox/css/open_close_fx.css')
  //- link(rel='stylesheet', href='/lc_lightbox/skins/minimal.css')
  //- link(rel='stylesheet', href='/gallery/lightbox/css/wt-lightbox.css')
  //- link(rel='stylesheet', href='/gallery/css/thumb-scroller.css')
  //- script(type='text/javascript', src='/lc_lightbox/js/lc_lightbox.js')
  //- script(type='text/javascript', src='/lc_lightbox/lib/AlloyFinger/alloy_finger.min.js')
  //- script(type='text/javascript', src='/gallery/lightbox/js/jquery.wt-lightbox.js')
  //- script(type='text/javascript', src='/gallery/js/jquery.thumb-scroller.js')
  //- script.
  //-   var slug = '2db7IL9oku5TH0Oz6578987ed2e07';
block content
  .container.pb-3
    .post-wrapper(data-browse='')
      .post-banner.post-page.d-none
        div files
        .timer are encrypted
        div
          | by Lock
          span.red Bit
      if item.is_published == 0
        .post-banner.post-page
          div Until files
          .timer.publication-timer(data-timer=item.deadlineTimer)
            .days
              span 0
              | d
            .hours
              span 0
              | :
            .minutes
              span 0
              | :
            .seconds
              span 0
          div publication
      else 
        .post-banner.post-page.good
          div Files
          .timer.timer-good are
          div published
      if item.is_published == 0
        p.post-banner-p  Deadline: #{item.deadline}
      else 
        p.post-banner-p.good Deadline: #{item.deadline}
      .post-company-info
        .post-company-img
          img(src='#{item.company_logo}', alt='')
        .post-company-content
          .post-big-title= item.company_name
          .desc= item.description
          if item.is_published == 0
            .danger Files will be published !
          else
            .danger.good Files are published !
            .uploaded-updated-date
              .uploaded-date
                .uploaded-date-label Uploaded:
                .uploaded-date-utc= item.uploaded_date
              .updated-date
                .updated-date-label Updated:
                .updated-date-utc= item.updated_date
      //
        Timers and downloads block
      //
        If additional timer is set up and it !==0 then all buttons have attribute nonactive
      .additional-timer-block
        div
        if item.is_published == 0
          .select-file-text.additional-timer
            | Until the files will be available left
          .additional-timer
            .post-timer
              .timer(data-timer=item.deadlineTimer)
                .days
                  span 0
                  | D
                .hours
                  span 0
                  | H
                .minutes
                  span 0
                  | M
                .seconds.seconds-additional-timer
                  span 0
                  | S
      //
        Timers and download file block
      //
        If timer !==0 (and there are files, archives, torrents or mirrors) all buttons have attribute nonactive
      if item.is_published == 0  
        .post-download-block.mb-3
          .download-buttons-block.mb-3
            .download-button
              .select-file-text.download *Download files
              div
                button.post-download-btn.nonactive(href='#')
                  span
                    span.timer(data-timer=item.deadlineTimer)
      else 
        .post-download-block.mb-3
          .select-file-text *Download files
          .download-buttons-block.mb-3
            - var cnt = 0;
            each url in item.urls
              button.post-download-btn.file-download-btn(href='#{url}')
                if item.urls.length > 1
                  span Download_#{++cnt}
                else
                  span Download