extends layout

block load_css_js
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/ticket/css/fontawesome-all.min.css')
  link(rel='stylesheet', href='/ticket/css/chosen.css')
  link(rel='stylesheet', href='/ticket/css/css2')
  link(rel='stylesheet', href='/ticket/css/line-awesome.min.css')
  link(rel='stylesheet', href='/ticket/css/animate.css')
  link(rel='stylesheet', href='/ticket/css/style.css')
  link(rel='stylesheet', href='/ticket/css/custom.css')
  link(rel='stylesheet', href='/ticket/css/iziToast.min.css')
  script(src='/ticket/js/iziToast.min.js')
  
  link(rel='stylesheet', href='/ticket/css/ticketlist.css')
  
  link(rel='stylesheet', href='/css/sweetalert2.min.css')
  script(src='/js/sweetalert2.all.min.js')

  

block content
  .page-wrapper.tm
    .container
      .referal-container
        .row
          .col-12#ticketList

  script(src='/ticket/js/ticketlist.js')
  script.
    $('[name=closeTicket]').on('click', function(event) {
        event.preventDefault();

        var title = $(".card-title").html();

        Swal.fire({
            title: 'Confirmation',
            text: "Are you sure you want to close this support ticket?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                var ticketID = $(this).data("id");
                // Construct the base URL
                var URL = window.location.protocol + '//' + window.location.host + '/ticket/close/' + ticketID;
            
                $.ajax({
                    url: URL,
                    type: 'POST',
                    success: function (response) {
                        console.log(response);

                        var title = $(".card-title").html();
                        // $(".card-title .badge").removeClass("badge--success").removeClass("badge--warning").addClass("badge--danger");
                        $(".custom--card .card-header").css('background-color', '#ea5455');
                        $(".card-title .badge").html("Closed" + title.substr(title.indexOf("[")));
                        $(".card-btn").remove();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        Swal.fire({
                            title: 'Close Ticket',
                            text: error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                return true;
            }
            else {
                return false;
            }
        })

        event.stopPropagation();
    });