extends layout

block load_css_js
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/ticket/css/fontawesome-all.min.css')
  link(rel='stylesheet', href='/ticket/css/chosen.css')
  link(rel='stylesheet', href='/ticket/css/css2')
  link(rel='stylesheet', href='/ticket/css/line-awesome.min.css')
  link(rel='stylesheet', href='/ticket/css/animate.css')
  link(rel='stylesheet', href='/ticket/css/style.css')
  link(rel='stylesheet', href='/ticket/css/custom.css')
  link(rel='stylesheet', href='/ticket/css/iziToast.min.css')
  script(src='/ticket/js/iziToast.min.js')
  
  link(rel='stylesheet', href='/css/sweetalert2.min.css')
  script(src='/js/sweetalert2.all.min.js')

  link(rel='stylesheet', href='/ticket/css/ticketlist.css')
block content
  section.all-sections.pt-60
    .container-fluid.p-max-sm-0
      .sections-wrapper.d-flex.flex-wrap.justify-content-center
        article.main-section
          .section-inner
            .item-section
              .container
                .card-area
                  .card.custom--card
                    .card-header.d-flex.flex-wrap.align-items-center.justify-content-between
                      h4.card-title.text-lowercase.mb-0
                        if tickets[0].status == 2
                          span.badge.text-capitalize.text-white Open[Ticket##{ tickets[0].ticketID} ] #{tickets[0].subject}
                        else if tickets[0].status == 1
                          span.badge.text-capitalize.text-white Suspended[Ticket##{ tickets[0].ticketID} ] #{tickets[0].subject}
                        else 
                          span.badge.text-capitalize.text-white Closed[Ticket##{ tickets[0].ticketID} ] #{tickets[0].subject}
                      if tickets[0].status > 0
                        .card-btn
                          button.btn.btn--danger.text-white.border--rounded.close-button(type='button', title='Close Ticket', id='btnCloseTicket')
                            i.fa.fa-lg.fa-times(aria-hidden="true")
                    .card-body
                      .card-form-wrapper
                        each ticket in tickets
                          .fetch-messages
                            .row.border--success.border--rounded.my-3.py-2.mx-2
                              .col-md-3.border-end.text-end
                                h3 #{ticket.name}
                                h5.my-1 #{ticket.email}
                              .col-md-9
                                p.text-left.ticket-message #{ticket.message}
                                p.text-right.ticket-date #{ticket.creationTime}
                      if tickets[0].status > 0
                        form(id="replyForm", method='post', role='form', enctype='multipart/form-data')
                          input(type='hidden', name='ticketID', value='#{tickets[0].ticketID}')
                          input(type='hidden', name='replyTicketID', value='')
                          .row.justify-content-center.mb-20-none
                            .col-xl-12.col-lg-12.form-group
                              textarea.form-control.bg--gray(name='message', rows='8', placeholder='Your Reply ...', required='')
                          .row.justify-content-between.mt-30
                            .col-md-8
                            .col-md-3.text-right
                              button.btn.ticket-btn--reply(type='submit')
                                i.fa.fa-reply Reply
  
  script(src='/ticket/js/ticket.js')
  script.
    changeBannerColor(!{JSON.stringify(tickets)})
  