.request-title {
	font-family: Open Sans;
	font-size: 21px;
	color: #444444;
	font-style: normal;
	font-weight: 700;
}

.request-span {
	color: #444444;
	font: inherit;
	font-size: 13px;
	font-weight: 700;
	vertical-align: baseline;
}

.request-important {
	color: #B94A48 !important;
	font-size: 13px !important;
	font-weight: 400 !important;
	margin-left: 0px;
	padding: 0;
	font-family: "Inter", 'Open Sans', "Lucida Grande", Arial, Helvetica, sans-serif;
}

.request-select {
	width: 110%;
	font-size: 13px;
	outline: none;
	background: transparent;
	user-select: none;
	min-width: 55px;
	text-indent: 0.01px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Open Sans;
	color: #444444;
	font-style: normal;
	font-weight: 400;
	padding-left: 1px;
}

.request-element-desc {
	margin-top: 0px;
	margin-left: 1px;
	display: block;
	padding-top: 3px;
	font-family: Open Sans;
	font-size: 12px;
	color: #939393;
	font-style: italic;
	font-weight: 400;
}

.request-desc {
	font-family: verdana, sans-serif;
	font-size: 13px;
	text-align: justify;
	color: #444444;
}

.request-cusChoiceEm {
	font-family: Open Sans;
	font-size: 13px;
	color: #444444;
	font-style: normal;
	font-weight: 400;
}

.request-errorMessage {
	margin: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E11F27;
	font-style: normal;
	font-weight: 400;
}

.request-hidden {
	display: none;
}

.error-message {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.success-message {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.btn {
	border-radius: 4px;
	padding: 12px 15px;
	font-weight: 600;
	border: none;
	transition-duration: 0.3s;
	transition-property: background, border;
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
	line-height: 1.4;
}

.btn:before,
#goTop:before,
.btn::before,
#goTop::before,
.vc-darkhoverbox-link a::before {
	transition: transform 0.35s cubic-bezier(0.162, 0.85, 0.45, 1);
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-transform: translate(-50%, -50%) scale(0);
	-moz-transform: translate(-50%, -50%) scale(0);
	-ms-transform: translate(-50%, -50%) scale(0);
	-o-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	width: 110%;
	height: 0;
	padding-bottom: 110%
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
	color: none;
	background-color: none;
	border-color: none;
}

@media screen and (prefers-reduced-motion: reduce) {

	.btn:before,
	#goTop:before,
	.btn::before,
	#goTop::before,
	.vc-darkhoverbox-link a::before {
		transition: none
	}
}

.btn:hover:before,
#goTop:hover:before,
.btn:hover::before,
#goTop:hover::before,
.vc-darkhoverbox-link a:hover::before {
	-webkit-transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}

.btn-danger {
	color: #fff;
	background-color: #598C2C;
	border-color: #598C2C
}

.btn-danger:hover {
	color: #fff;
	background-color: #598C2C;
	border-color: #59A52C
}

.btn-danger.focus,
.btn-danger:focus {
	box-shadow: 0 0 0 .2rem rgba(227, 52, 47, .5)
}

.btn-danger.disabled,
.btn-danger:disabled {
	color: #fff;
	background-color: #598C2C;
	border-color: #598C2C
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #59A52C;
	border-color: #b91d19
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(227, 52, 47, .5)
}

.message-box {
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
}
.message-box.success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.message-box.error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

/*-------------------------------------------------
    [ ## Buttons ]
*/
input[type=submit]:hover {
    color: #fff;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
    outline: none;
}

button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn {
    -webkit-transition: all 0.3s ease 0.02s;
    transition: all 0.3s ease 0.02s;
}

.btn:active,
.btn:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}

.btn {
    border: 0px solid;
    border-radius: 0px;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 767px) {
    .btn {
        font-size: 14px;
    }
}

.btn-rounded {
    border-radius: 3px;
}

.btn-capsule {
    border-radius: 100px;
}

/*-------------------------------------------------
    [ ## custom btn ]
*/
.btn--primary {
    background-color: #7367f0;
}

.btn--secondary {
    background-color: #868e96;
}

.btn--success {
    background-color: #28c76f;
}

.btn--danger {
    background-color: #ea5455;
}

.btn--warning {
    background-color: #ff9f43;
}

.btn--info {
    background-color: #1e9ff2;
}

.btn--dark {
    background-color: #10163A;
}

.badge--primary {
    background-color: #7367f0;
}

.badge--secondary {
    background-color: #868e96;
}

.badge--success {
    background-color: #28c76f;
}

.badge--danger {
    background-color: #ea5455;
}

.badge--warning {
    background-color: #ff9f43;
}

.badge--info {
    background-color: #1e9ff2;
}

.badge--dark {
    background-color: #10163A;
}

.border--primary {
    border: 1px solid #7367f0;
}

.border--secondary {
    border: 1px solid #868e96;
}

.border--success {
    border: 1px solid #28c76f;
}

.border--danger {
    border: 1px solid #ea5455;
}

.border--warning {
    border: 1px solid #ff9f43;
}

.border--info {
    border: 1px solid #1e9ff2;
}

.border--dark {
    border: 1px solid #10163A;
}

.btn--base {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    z-index: 2;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.btn--base.active {
    background: transparent;
    color: #606975;
    border: 1px solid #e1e7ec;
}

.btn--base.active:focus, .btn--base.active:hover {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    border: 1px solid #3f51b5;
    box-shadow: none;
}

.btn--base:focus, .btn--base:hover {
    color: #fff;
    box-shadow: 0 10px 20px rgba(46, 204, 113, 0.4);
}

@media only screen and (max-width: 575px) {
    .btn--base {
        padding: 6px 20px;
        font-size: 14px;
    }
}

.custom-btn {
    color: #3f51b5;
    font-weight: 500;
    font-size: 13px;
    display: block;
}

.custom-btn:hover {
    color: #3f51b5;
}