@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"),
    url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Black.woff") format("woff"),
    url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Blender Pro";
  src: url("../fonts/BlenderPro-Bold.eot");
  src: local("BlenderPro-Bold"), local("BlenderPro-Bold"),
    url("../fonts/BlenderPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BlenderPro-Bold.woff") format("woff"),
    url("../fonts/BlenderPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Blender Pro";
  src: url("../fonts/BlenderPro-Heavy.eot");
  src: local("BlenderPro-Heavy"), local("BlenderPro-Bold"),
    url("../fonts/BlenderPro-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BlenderPro-Heavy.woff") format("woff"),
    url("../fonts/BlenderPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "flaticon";
  src: url("flaticon.woff2?dce4f070c9001be58bdcf974d9535ee4") format("woff2");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-open[sty] {
  padding-right: 0 !important;
}

.flaticon-desktop-computer-screen-with-arrow-to-the-left-and-coin-stack:before {
  content: "\f101";
}
.flaticon-credit-card:before {
  content: "\f102";
}
.flaticon-bank-transfer:before {
  content: "\f103";
}
.flaticon-bitcoin-pocket-or-wallet:before {
  content: "\f104";
}
.flaticon-exchange:before {
  content: "\f105";
}
.flaticon-paypal:before {
  content: "\f106";
}

.btc_pricing_cont_wrapper li {
  display: flex;
}
.btc_pricing_cont_wrapper li:before {
  content: url("/images/icons/dollar-bill-red.svg");
  min-width: 20px;
  padding-top: 3px;
}
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper li:before {
  content: url("/images/icons/dollar-bill.svg");
  min-width: 20px;
}

a {
  color: #3c3c3c;
}

.btc_pricing_heading_main_wrapper {
  float: left;
  width: 100%;
  text-align: center;
}
.btc_pricing_heading_wrapper {
  float: left;
  width: 100%;
  display: inline-block;
}
.btc_pricing_heading_wrapper p {
  font-size: 14px;
  color: #59A52C;
}
.btc_pricing_heading_wrapper h1 {
  font-size: 36px;
  color: #222222;
  padding-bottom: 10px;
}
.btc_pricing_heading_wrapper span {
  color: #59A52C;
  font-size: 22px;
  position: relative;
}
.btc_pricing_heading_wrapper span:after {
  content: "";
  border: 1px solid #59A52C;
  width: 30px;
  position: absolute;
  left: 20px;
  top: 13px;
}
.btc_pricing_heading_wrapper span:before {
  content: "";
  border: 1px solid #59A52C;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 13px;
}
.btc_pricing_heading_wrapper h5 {
  font-size: 16px;
  font-family: "Proxima Nova";
  color: #797979;
  line-height: 20px;
  padding-top: 20px;
}
.btc_pricing_box_wrapper {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.mask {
  display: none;
  padding-top: 100px;
}

.btc_pricing_icon_wrapper {
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #f9f9f9;
  padding: 10px;
  z-index: 10;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_hover_effect {
  position: relative;
  float: left;
  width: 100%;
}
.btc_step_overlay {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  opacity: 0;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_box_wrapper:hover .btc_step_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #59A52C;
  opacity: 1;
}
.btc_pricing_hover_effect i {
  width: 125px;
  height: 125px;
  background: #ffffff;
  text-align: center;
  line-height: 125px;
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_hover_effect i:before {
  position: relative;
  font-size: 45px;
  margin-left: 0;
  color: #59A52C;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_box_wrapper:hover .btc_pricing_hover_effect i:before {
  color: #ffffff;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 125px;
  height: 125px;
  line-height: 125px;
}
.btc_pricing_cont_wrapper {
  float: left;
  width: 100%;
  background: #ffffff;
  padding-top: 125px;
  padding-bottom: 50px;
  position: relative;
  margin-top: -84px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper {
  background: #59A52C;
  background-image: url("../images/btc-bag-opacity20.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain, cover;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  /*font-weight: bold;*/
}

.btc_pricing_cont_wrapper h3 {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper h3 {
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_cont_bottom_line {
  position: relative;
}
.btc_pricing_cont_bottom_line:before {
  content: "";
  border: 1px solid #e5e5e5;
  width: 1px;
  height: 13px;
  position: absolute;
  right: 0;
  left: 9px;
  margin: 0px auto;
  top: 30px;
  -ms-transform: rotate(228deg);
  -webkit-transform: rotate(228deg);
  transform: rotate(228deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_cont_bottom_line:after {
  content: "";
  border: 1px solid #e5e5e5;
  width: 1px;
  height: 13px;
  position: absolute;
  right: 9px;
  left: 0;
  top: 30px;
  margin: 0px auto;
  ms-transform: rotate(313deg);
  -webkit-transform: rotate(313deg);
  transform: rotate(313deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_cont_bottom_line_state {
  position: relative;
}
.btc_pricing_cont_bottom_line_state:after {
  content: "";
  border: 1px solid #e5e5e5;
  width: 130px;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 31px;
  margin: 0px auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_cont_bottom_line_state:before {
  content: "";
  border: 1px solid #ffffff;
  width: 15px;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 31px;
  margin: 0px auto;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_cont_wrapper p {
  color: #59A52C;
  padding-top: 65px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_cont_wrapper ul {
  margin-top: 25px;
  display: inline-block;
  padding-right: 10%;
  text-transform: none;
  color: #3c3c3c;
  max-height: 160px;
}
.btc_pricing_cont_wrapper li i {
  padding-right: 10px;
  color: #59A52C;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_cont_wrapper li:first-child {
  margin-top: 0;
}
.btc_pricing_cont_wrapper li {
  margin-top: 20px;
  text-align: left;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  list-style-type: none;
}
.btc_pricing_cont_wrapper h4 {
  font-family: "Proxima Nova";
  font-size: 16px;
}
.btc_pricing_cont_wrapper h4 a {
  display: inline-block;
  width: 180px;
  height: 50px;
  background: #59A52C;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  margin-top: 40px;
  border: 1px solid transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper h4 a {
  background: #ffffff;
  color: #000000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper h3,
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper p,
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper li i,
.btc_pricing_box_wrapper:hover .btc_pricing_cont_wrapper li {
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_box_wrapper:hover .btc_pricing_cont_bottom_line_state:after,
.btc_pricing_box_wrapper:hover .btc_pricing_cont_bottom_line:after,
.btc_pricing_box_wrapper:hover .btc_pricing_cont_bottom_line:before {
  border: 1px solid #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btc_pricing_box_wrapper:hover .btc_pricing_cont_bottom_line_state:before {
  border: 1px solid #59A52C;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*-- btc pricing Wrapper End  --*/

/*-- btc contact map Wrapper End --*/

@media (max-width: 575px) {
  .post-banner .timer {
    width: 210px;
  }
  .modal:target .modal-content {
    width: 90%;
  }
  .btc_pricing_box_wrapper {
    float: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  .button .link {
    font-size: 24px !important;
  }
  .button:hover .link {
    padding-left: 75px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  .modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
  .row2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .post-banner .timer {
    width: 320px;
  }
  .btc_pricing_box_wrapper {
    float: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 100px 15px;
  position: relative;
  cursor: pointer;
  justify-content: center;
  /* button */
  /* bg button */
}
.button .link {
  font-family: "Proxima Nova", sans-serif;
  background-color: transparent;
  font-size: 28px;
  letter-spacing: 2px;
  color: #4c6082;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 0;
  padding-left: 20px;
  left: 0;
  line-height: auto;
  overflow: hidden;
  /*line*/
  /*arrow*/
}
.button .link:before {
  content: "";
  background-color: #f38181;
  width: 3px;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.button .link:after {
  content: "";
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  border: solid 3px #f38181;
  border-left: 0;
  border-bottom: 0;
  /*top: calc(50% - 9px);*/
  top: calc(50% - 7px);
  border-radius: 2px;
  transform: translateX(-42px) rotate(45deg);
  transition: all 0.3s 0.2s ease-in-out;
}
.button:before {
  content: "";
  background-color: #ff414c;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0px;
  border-radius: 3px;
  transition: all 0.4s 0.3s ease-in-out;
  color: #fff;
  box-shadow: 0px 0px 15px rgba(255, 34, 34, 0.25);
}

.button:hover:before {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
}
.button:hover .link {
  padding-left: 55px;
  color: #fff;
  text-decoration: none;
}
.button:hover .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.button:hover .link:after {
  transform: translate(-33px) rotate(45deg);
}

/*****From Previous App.css and Forum.css*******/
.btc-links {
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}
.btc-link {
  background: #59A52C;
  color: #fff !important;
  /*width: 96px;*/
  width: 90px;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 6px;
  box-shadow: inset 0 0 0 0 #598C2C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  outline: none;
  position: relative;
  margin-bottom: 5px;
  border: 2px white solid;
  text-wrap: normal;
}
.btc-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btc-link:before {
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.btc-link:active {
  background: #598C2C;
  top: 2px;
}

.btc-link:hover {
  box-shadow: inset 0 100px 0 0 #598C2C;
  cursor: pointer;
  text-decoration: none;
}

.btc-link2 {
  background: #59A52C;
  color: #fff;
  width: 96px;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 8px;
  line-height: 13px;
  box-shadow: inset 0 0 0 0 #598C2C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btc-link2:hover {
  box-shadow: inset 0 100px 0 0 #598C2C;
  cursor: pointer;
}

/*-- btc pricing Wrapper End  --*/

/*-- btc contact map Wrapper End --*/

@media (max-width: 575px) {
  .post-banner .timer {
    width: 210px;
  }
  .modal:target .modal-content {
    width: 90%;
  }
  .btc_pricing_box_wrapper {
    float: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  .button .link {
    font-size: 24px !important;
  }
  .button:hover .link {
    padding-left: 75px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  .modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
  .row2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .post-banner .timer {
    width: 320px;
  }
  .btc_pricing_box_wrapper {
    float: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .post-banner {
    font-size: 62px;
    padding: 50px 20px 20px 20px;
  }
  .post-banner .timer {
    width: 450px;
  }
  .btc_pricing_box_wrapper {
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
}

/*****From Previous App.css and Forum.css*******/

@media (min-width: 1400px) {
  .btc-exchange-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btc-link {
    background: #59A52C;
    color: #fff;
    width: 96px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 10px;
    box-shadow: inset 0 0 0 0 #598C2C;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-bottom: 5px;
    outline: none;
    position: relative;
  }

  .btc-link:hover {
    color: #fff;
    text-decoration: none;
  }

  .btc-link:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .btc-link:before {
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }

  .btc-link:active {
    background: #598C2C;
    top: 2px;
  }

  .btc-link:hover {
    box-shadow: inset 0 100px 0 0 #598C2C;
    cursor: pointer;
  }

  .btc-link2 {
    background: #59A52C;
    color: #fff;
    width: 96px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 8px;
    line-height: 13px;
    box-shadow: inset 0 0 0 0 #598C2C;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .btc-link2:hover {
    box-shadow: inset 0 100px 0 0 #598C2C;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  .head-image-btc-img {
    max-width: 700px;
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
  }

  /*Sliding Text and Icon Menu Style*/
  .sti-menu {
    /*width:1010px;*/
    width: 300px;
    position: relative;
    /*margin:60px auto 0 auto;*/
    margin-left: -45px;
  }

  .sti-menu li {
    float: left;
    width: 200px;
    height: 300px;
    margin: 1px;
    list-style-type: none;
  }

  .sti-menu li a {
    display: block;
    overflow: hidden;
    background: #fff;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    /* -moz-box-shadow:1px 1px 2px #ddd;
         -webkit-box-shadow:1px 1px 2px #ddd;
         box-shadow:1px 1px 2px #ddd;*/
  }

  .sti-menu li a h2 {
    color: #000;
    font-family: "Blender Pro", arial, serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    padding: 10px;
    /*width:180px;*/
    width: 208px;
    top: 140px;
    left: 0px;
    text-shadow: 0px 1px 1px black;
  }

  .sti-menu li a h3 {
    font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 18px;
    font-style: italic;
    color: #111;
    position: absolute;
    top: 248px;
    left: 0px;
    width: 180px;
    /*padding:10px;*/
  }

  .sti-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: transparent;
    left: 50px;
    top: 30px;
  }

  .sti-icon-care {
    background-image: url("../images/cc.png");
  }

  .sti-icon-alternative {
    background-image: url("../images/bank.png");
  }

  .sti-icon-family {
    background-image: url("../images/cash.png");
  }

  .sti-icon-info {
    background-image: url("../images/pp.png");
  }
}

.btc-link {
  background: #59A52C;
  color: #fff;
  width: 96px;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 6px;
  box-shadow: inset 0 0 0 0 #598C2C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-bottom: 5px;
  outline: none;
  position: relative;
}

.btc-link:hover {
  color: #fff;
  text-decoration: none;
}

.btc-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btc-link:before {
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.btc-link:active {
  background: #598C2C;
  top: 2px;
}

.btc-link:hover {
  box-shadow: inset 0 100px 0 0 #598C2C;
  cursor: pointer;
}

.btc-link2 {
  background: #59A52C;
  color: #fff;
  width: 96px;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 8px;
  line-height: 13px;
  box-shadow: inset 0 0 0 0 #598C2C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btc-link2:hover {
  box-shadow: inset 0 100px 0 0 #598C2C;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.head-image-btc-img {
  max-width: 700px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.tab-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  height: 150px;
}
.tab-list:before {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/*Sliding Text and Icon Menu Style*/
.sti-menu {
  /*width:1010px;*/
  width: 300px;
  position: relative;
  /*margin:60px auto 0 auto;*/
  margin-left: -45px;
}
.sti-menu li {
  float: left;
  width: 200px;
  height: 300px;
  margin: 1px;
  list-style-type: none;
}
.sti-menu li a {
  display: block;
  overflow: hidden;
  background: #fff;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  /* -moz-box-shadow:1px 1px 2px #ddd;
     -webkit-box-shadow:1px 1px 2px #ddd;
     box-shadow:1px 1px 2px #ddd;*/
}
.sti-menu li a h2 {
  color: #000;
  font-family: "Blender Pro", arial, serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  padding: 10px;
  /*width:180px;*/
  width: 208px;
  top: 140px;
  left: 0px;
  text-shadow: 0px 1px 1px black;
}
.sti-menu li a h3 {
  font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18px;
  font-style: italic;
  color: #111;
  position: absolute;
  top: 248px;
  left: 0px;
  width: 180px;
  /*padding:10px;*/
}
.sti-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: transparent;
  left: 50px;
  top: 30px;
}
.sti-icon-care {
  background-image: url("../images/cc.png");
}
.sti-icon-alternative {
  background-image: url("../images/bank.png");
}
.sti-icon-family {
  background-image: url("../images/cash.png");
}
.sti-icon-info {
  background-image: url("../images/pp.png");
}

.btc-link {
  background: #59A52C;
  color: #fff;
  width: 96px;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 6px;
  box-shadow: inset 0 0 0 0 #598C2C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-bottom: 5px;
  outline: none;
  position: relative;
}

.btc-link:hover {
  color: #fff;
  text-decoration: none;
}

.btc-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btc-link:before {
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.btc-link:active {
  background: #598C2C;
  top: 2px;
}

.btc-link:hover {
  box-shadow: inset 0 100px 0 0 #598C2C;
  cursor: pointer;
}

.btc-link2 {
  background: #59A52C;
  color: #fff;
  width: 96px;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 8px;
  line-height: 13px;
  box-shadow: inset 0 0 0 0 #598C2C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btc-link2:hover {
  box-shadow: inset 0 100px 0 0 #598C2C;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.head-image-btc-img {
  max-width: 700px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.tab-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  height: 150px;
}
.tab-list:before {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/*Modal styles*/
a.modal-open {
  display: block;
  padding: 20px;
  color: #424242;
  font-weight: bold;
  margin: 50px auto;
  width: 200px;
  background: #e0e0e0;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
}
.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.modal-slide-up-down {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.modal:target {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: 50;
}
.modal-slide-up-down:target {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: 50;
}
.modal:target .modal-content {
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  z-index: 10;
  opacity: 1;
}
.modal-slide-up-down:target .modal-content {
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  z-index: 10;
  opacity: 1;
}
.modal:target .buybitcoin-modal-block {
  transform: translate(-50%, -50%) !important;
  transition: all 0.5s ease-in-out !important;
  transition-delay: 0.5s !important;
  z-index: 10;
  opacity: 1;
}
.modal-close {
  float: right;
  text-decoration: none;
  padding: 26px 22px;
  /*color:#424242;*/
  color: #fff;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
  z-index: +1;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 0 4px 0 0;
}

@media (max-width: 464px) {
  .modal-close {
    padding: 26px 22px;
  }
}
.modal-close:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.modal-content h3 {
  padding: 20px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  background: #598C2C;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.modal-area {
  padding: 20px;
  text-align: left;
}

.modal-area input[type="radio"] {
  display: none;
}
.modal-area label {
  float: left;
  display: block;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
  z-index: +2;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.modal-area input[type="radio"]:checked + label {
  background: #fff;
  color: #424242;
}
.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 500px;
  background: #fff;
  border-radius: 4px;
  transform: translate(-50%, -200%);
  transition: all 0.5s ease-in-out;
  perspective: 1000;
  outline: 1px solid transparent;
  opacity: 0;
}
.modal-tab {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  transform: translateX(-150%);
  transition: all 300ms cubic-bezier(0, 0, 0.4, 1);
  opacity: 0;
  top: 0px;
  position: absolute;
  height: 150px;
  perspective: 1000;
}
/*End of Modal styles*/
/*
@media (min-width: 992px) and (max-width: 1729px) {
    .btc_pricing_box_wrapper {
        width: 80%;
        margin-left: 40px;
    }
}
*/

@media (min-width: 1730px) {
  .col4-width {
    width: 100%;
    max-width: 1700px;
    display: flex !important;
    justify-content: space-between;
  }
  .btc_pricing_box_wrapper {
    float: left;
    text-align: center;
    margin-top: 60px;
    width: 300px;
  }
}

.modal-block h3 {
  padding: 20px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  background: #598C2C;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.modal-block {
  width: 500px;
  background: #fff;
  border-radius: 4px;
  outline: 1px solid transparent;
}
.buybitcoin-modal-block h3 {
  padding: 20px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  background: #598C2C;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.buybitcoin-modal-block {
  width: 500px;
  background: #fff;
  border-radius: 4px;
  outline: 1px solid transparent;
}
