#myModal {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  padding-top: 60px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-slide-up-down {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  padding-top: 60px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #cccccc;
  padding: 10px 0;
}
/*
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
*/
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal,
.modal-sliding {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/*
.modal-slide-up-down {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
*/
.modal-content,
.modal1-active {
  -webkit-animation-name: zoom-up;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom-up;
  animation-duration: 0.6s;
}
.modal-content,
.modal2-active {
  -webkit-animation-name: zoom-up;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom-up;
  animation-duration: 0.6s;
}
.modal-content,
.modal3-active {
  -webkit-animation-name: zoom-up;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom-up;
  animation-duration: 0.6s;
}
.modal-content,
.modal4-active {
  -webkit-animation-name: zoom-up;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom-up;
  animation-duration: 0.6s;
}
.modal.fade {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal-slide-up-down.fade {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@keyframes zoom-down {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes zoom-down {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes zoom-up {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 300px;
    opacity: 0;
  }
}
@keyframes zoom-up {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 300px;
    opacity: 0;
  }
}

@-webkit-keyframes zoom2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close_chat {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close_chat:hover,
.close_chat:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-custom-info-span.copy {
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/*for modal buy time*/
.modal {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#caption_buy_time {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #cccccc;
  padding: 10px 0;
}

.modal,
#caption_buy_time {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close_modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close_modal:hover,
.close_modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal_buy_time-content {
    width: 100%;
  }
}

/*Payment modal page*/

/************/
.abf-frame p {
  font-family: Helvetica !important;
  line-height: 18px;
  margin: 0 !important;
  padding: 0 !important;
}
.abf-frame {
  color: #000 !important;
  background-color: #fff !important;
  position: absolute;
  top: calc(50% - 245px);
  font-family: Helvetica !important;
  width: 95%;
  max-width: 800px;
  margin-left: -400px;
  left: 50%;
  max-height: 600px;
  margin-top: 0;
  text-align: left;
  box-shadow: 0 12px 28px rgb(0 0 0 / 10%);
  border-radius: 3px;
  font-size: 12px;
}
.abf-frame a {
  font-family: Helvetica !important;
  color: #6a8fc2 !important;
}
.abf-frame a:hover {
  color: #676573 !important;
}
.abf-form {
  padding: 0 24px 24px;
}
.abf-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 24px;
  min-height: 93px;
}
.abf-header div:nth-child(1) img {
  display: inline-block;
  margin: 5px 0;
}
.abf-ash1 {
  text-align: center;
  font-size: 14px;
  margin: 12px 0;
}
.abf-ash2 {
  font-size: 14px;
  margin: 12px 0;
  font-weight: 700;
}
.abf-topline {
  border-top: 1px solid #dedede !important;
  padding-top: 12px;
}
.abf-list-item {
  padding: 4px 0;
  display: flex;
  align-items: baseline;
}
.abf-label {
  display: inline-block;
  width: 45%;
  padding-right: 24px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 12px;
  opacity: 0.5;
  text-align: right;
}
.abf-value {
  display: inline-block;
  width: 48%;
  box-sizing: border-box;
}
.abf-confirmations {
  display: inline-block;
  background-color: #dc3545 !important;
  width: 12px;
  height: 12px;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: #fff !important;
  border-radius: 50%;
  margin-left: 3px;
}
.abf-green {
  background-color: #28a745 !important;
}
.abf-img-height {
  max-height: 80px;
}

@media (max-width: 575px) {
  #wallet,
  #wallet2,
  #wallet3,
  #wallet4 {
    overflow-wrap: anywhere;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #wallet,
  #wallet2,
  #wallet3,
  #wallet4 {
    overflow-wrap: anywhere;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wallet,
  #wallet2,
  #wallet3,
  #wallet4 {
    overflow-wrap: anywhere;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #wallet,
  #wallet2,
  #wallet3,
  #wallet4 {
    overflow-wrap: anywhere;
  }

  .modal_download_torrent {
    position: absolute;
    top: 30%;
  }
  .close_buy_download_torrent {
    top: 30%;
  }
}
