:root {
  --body-background-color: #fafafa;
  --body-text-color: hsl(214, 18%, 15%);
  --loader-dimension: 2.2585em;
  --sidebar-background: #2b231d;
  --sidebar-color: #929da4;
  --sidebar-width: 200px;
  --sidebar-width-small: 80px;
  --title-color-1: #33b6bd;
  --title-color-2: rgb(145, 129, 231);
  --title-color-3: #186cb8;
  --title-color-4: #f1b211;
  --title-color-5: #e83611;
  --title-text-color: #3e77aa;
  --header-table-background: #3bb49f;
  --highlight-active-color: #fff;
  --dg-bgcolor: #f3f3f3;
  --item-number-color: rgb(247, 248, 232);
  --color-hover: #747272;
  --border-color: rgba(82, 81, 81, 0.2);
  --card-background: rgba(255, 255, 255, 0.8);
  --card-border-color: rgba(255, 255, 255, 0.8);
  --card-color: #229399;
  --card-button-background: #6eade7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/* container for data and paging */
.container {
  position: relative;
  width: 100%;
}

:root {
  --btn-text-color: #3e77aa;
  --border-number-pages: rgba(0, 0, 0, 0.24);
  --btn-page-active-color: #21665b;
  --btn-page-active-border-color: #3bb49f;
  --btn-page-background: #e5e5e5;
  --color-hover: #f80707;
  --dg-color-prev-next: #0a77f3;
}

.dg-status-box {
  display: flex;
  padding: 8px 12px;
  margin: 0;
  min-height: 42px;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
}

.dg-status-box .dg-paging {
  display: flex;
  visibility: hidden;
}

.dg-paging .dg-per-page {
  color: var(--btn-text-color);
  border: 1px solid var(--border-number-pages);
  padding: 5px;
  margin-right: 10px;
  font-size: 1em;
  border-radius: 0.4em;
  outline: none;
}

.dg-per-page.per-page-hide {
  display: none;
}

.dg-paging .pagination {
  display: flex;
  align-items: stretch;
}

.pagination button {
  color: var(--btn-text-color);
  padding: 6px 16px;
  cursor: pointer;
  border: 0;
}

.pagination button:focus {
  outline: none;
}

.pagination .dg-number-pages {
  display: flex;
}

.dg-number-pages button {
  display: inline-block;
  background: transparent;
  font-size: 1.12em;
  font-weight: 500;
  padding: 0;
  margin-right: 2px;
  width: 46px;
  border-radius: 0.4em;
  text-align: center;
}

.dg-number-pages button.active {
  border: 3px solid var(--btn-page-active-border-color);
  color: var(--btn-page-active-color);
}

.dg-number-pages button:disabled {
  font-weight: 700;
}

.dg-number-pages button:not(.active):not(:disabled) {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.dg-number-pages button:hover:not(.active) {
  border: 3px solid rgba(0, 0, 0, 0.2);
}

.pagination button[data-index='prev'],
.pagination button[data-index='next'],
.pagination button[data-index='first'],
.pagination button[data-index='last'] {
  background: transparent;
  color: var(--dg-color-prev-next);
  font-size: 1.9em;
  font-weight: 500;
}

.pagination button[data-index='first'],
.pagination button[data-index='last'] {
  width: 40px;
  display: none;
}

.pagination button[data-index='prev']:hover:enabled,
.pagination button[data-index='next']:hover:enabled,
.pagination button[data-index='first']:hover:enabled,
.pagination button[data-index='last']:hover:enabled {
  color: var(--color-hover);
}

.pagination button[data-index='prev']:disabled,
.pagination button[data-index='next']:disabled,
.pagination button[data-index='first']:disabled,
.pagination button[data-index='last']:disabled {
  color: var(--btn-page-background);
}

.dg-status-box .show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-text-color);
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (min-device-width:320px) and (max-device-width:480px),
(max-width:700px) {
  .dg-paging .dg-per-page {
    display: none;
  }

  .dg-number-pages button {
    display: none;
  }

  .dg-number-pages button.active.current {
    display: block;
  }

  .pagination button[data-index='first'],
  .pagination button[data-index='last'] {
    display: block;
  }
}