#lb-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999999;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.lb-wrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  z-index: 1000000;
  transform: scale(1);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.lb-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  margin: 18px 18px 0 0;
  background: url(../assets/lb-assets.png) -103px 0 no-repeat;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.lb-close-btn:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
}
#lb-box {
  position: relative;
  width: 100%;
  height: 100%;
  color: #333;
  background-color: #fff;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.lb-inner {
  position: relative;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.lb-content {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.lb-content > img {
  display: block;
  border: 0;
  max-width: none !important;
  max-height: none !important;
}
.lb-cpanel {
  position: relative;
  width: 100%;
  height: 24px;
  padding-bottom: 10px;
  overflow: hidden;
  display: none;
}
.lb-inner-cp {
  position: relative;
  height: 24px;
  padding: 0 10px;
  overflow: hidden;
}
.lb-play-btn,
.lb-prev-btn,
.lb-next-btn,
.lb-text-btn {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.lb-text-btn {
  float: right;
}
.lb-play-btn div,
.lb-prev-btn div,
.lb-next-btn div,
.lb-hover-prev div,
.lb-hover-next div,
.lb-text-btn div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0;
  background-image: url(../assets/lb-assets.png);
  background-repeat: no-repeat;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lb-play-btn div {
  width: 14px;
  height: 18px;
  margin-top: -9px;
  margin-left: -7px;
  background-position: 0 0;
}
.lb-pause div {
  background-position: -14px 0;
}
.lb-prev-btn div,
.lb-next-btn div {
  width: 11px;
  height: 18px;
  margin-top: -9px;
  margin-left: -6px;
}
.lb-prev-btn div {
  background-position: -28px 0;
}
.lb-next-btn div {
  background-position: -39px 0;
}
.lb-text-btn div {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background-position: -86px 0;
}
.lb-expand div {
  background-position: -70px 0;
}
.lb-play-btn:hover div,
.lb-prev-btn:hover div,
.lb-next-btn:hover div,
.lb-text-btn:hover div {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.lb-disable {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
}
.lb-info {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
}
.lb-timer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 4px;
  font-size: 0;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.lb-desc,
.lb-ext-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  width: 100%;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lb-desc {
  position: absolute;
  left: 0;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -ms-transition: -ms-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
}
.lb-slide-up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.lb-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -17px;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  background: #000 url(../assets/loader.gif) center no-repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: none;
}
.lb-ext-desc {
  position: relative;
  float: left;
  padding: 0 10px 10px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
}
.lb-error-box {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 25px;
  color: #fff;
  background-color: #333;
  text-align: center;
}
#lb-box iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.lb-hide-selects {
  visibility: hidden;
}

/* hover buttons */
.lb-prev-half,
.lb-next-half {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: url(../assets/spacer.png) center no-repeat;
}
.lb-prev-half {
  left: 0;
}
.lb-next-half {
  right: 0;
}
.lb-hover-prev,
.lb-hover-next {
  position: absolute;
  width: 34px;
  height: 34px;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  top: 50%;
  margin-top: -17px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lb-hover-prev {
  left: 8px;
}
.lb-hover-next {
  right: 8px;
}
.lb-hover-prev div,
.lb-hover-next div {
  width: 10px;
  height: 16px;
  margin-top: -8px;
  margin-left: -5px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
.lb-hover-prev div {
  background-position: -50px 0;
}
.lb-hover-next div {
  background-position: -60px 0;
}
.lb-prev-half:hover .lb-hover-prev,
.lb-prev-half:hover .lb-hover-prev div,
.lb-next-half:hover .lb-hover-next,
.lb-next-half:hover .lb-hover-next div {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.lb-hover-prev.lb-disable,
.lb-hover-next.lb-disable {
  visibility: hidden;
}
.lb-hover-prev:hover,
.lb-hover-next:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
