.selection{
        width: 100%;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #e1e7ec; 
}
.select2-container--default .select2-selection--multiple{
    border: 1px solid #e1e7ec;
}
.fetch-messages p {
    color: #333;
}
.fetch-messages p.subject {
    font-weight: bold;
}