@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"); */

/*-------------------------------------------------
    [ ## reset ]
*/
:root, [data-bs-theme=dark] {
    --bs-body-bg: #1a1f2e;
    --bs-body-bg-rgb: 26, 31, 46;
    --bs-secondary-bg: #2d3652;
    --bs-secondary-bg-rgb: 45, 54, 82;
    --bs-primary: #92a9ef;
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bs-body-bg);
}

p {
    margin-bottom: 15px;
    line-height: 1.8em;
}

::selection {
    background-color: #59A52C;
    color: white;
}
p:last-child {
    margin-bottom: 0px;
}

@media only screen and (max-width: 1199px) {
    p {
        line-height: 1.7em;
    }
}

a {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

blockquote {
    margin: 0 0 1.3em;
}

p {
    margin-bottom: 15px;
    line-height: 1.8em;
}

p:last-child {
    margin-bottom: 0px;
}


@media only screen and (max-width: 1199px) {
    p {
        line-height: 1.7em;
    }
}

img {
    max-width: 100%;
    height: auto;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

button, input[type=submit], input[type=reset], input[type=button] {
    border: none;
    cursor: pointer;
}

input, textarea {
    padding: 12px 25px;
    width: 100%;
}

span {
    display: inline-block;
}

a, a:focus, a:hover {
    text-decoration: none;
    color: inherit;
}

blockquote {
    background-color: #f9f9f9;
    padding: 20px;
    color: #2f2f35;
    border-radius: 3px;
    font-weight: 500;
    font-style: italic;
    position: relative;
}

blockquote .quote-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    opacity: 0.1;
}

/*-------------------------------------------------
    [ ## padding ]
*/
.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

@media only screen and (max-width: 991px) {
    .pt-100 {
        padding-top: 80px;
    }
}

.pt-120 {
    padding-top: 120px;
}

@media only screen and (max-width: 991px) {
    .pt-120 {
        padding-top: 100px;
    }
}

.pt-150 {
    padding-top: 150px;
}

@media only screen and (max-width: 991px) {
    .pt-150 {
        padding-top: 100px;
    }
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

@media only screen and (max-width: 991px) {
    .pb-100 {
        padding-bottom: 80px;
    }
}

.pb-120 {
    padding-bottom: 120px;
}

@media only screen and (max-width: 991px) {
    .pb-120 {
        padding-bottom: 100px;
    }
}

.pb-150 {
    padding-bottom: 150px;
}

@media only screen and (max-width: 991px) {
    .pb-150 {
        padding-bottom: 100px;
    }
}

.ptb-10 {
    padding: 10px 0;
}

.ptb-20 {
    padding: 20px 0;
}

.ptb-30 {
    padding: 30px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-60 {
    padding: 60px 0;
}

.ptb-80 {
    padding: 80px 0;
}

.ptb-100 {
    padding: 100px 0;
}

@media only screen and (max-width: 991px) {
    .ptb-100 {
        padding: 80px 0;
    }
}

.ptb-120 {
    padding: 120px 0;
}

@media only screen and (max-width: 991px) {
    .ptb-120 {
        padding: 100px 0;
    }
}

.ptb-150 {
    padding: 150px 0;
}

@media only screen and (max-width: 991px) {
    .ptb-150 {
        padding: 100px 0;
    }
}

.rounded-1 {
    border-radius: var(--bs-border-radius-sm)!important
}
  
.rounded-2 {
    border-radius: var(--bs-border-radius)!important
}

.rounded-3 {
    border-radius: var(--bs-border-radius-lg)!important
}

.rounded-4 {
    border-radius: var(--bs-border-radius-xl)!important
}

.rounded-5 {
    border-radius: var(--bs-border-radius-xxl)!important
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

@media only screen and (max-width: 575px) {
    .mb-80 {
        margin-bottom: 40px;
    }
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mt-10-none {
    margin-top: -10px;
}

.mt-20-none {
    margin-top: -20px;
}

.mt-30-none {
    margin-top: -30px;
}

.mt-40-none {
    margin-top: -40px;
}

.mt-50-none {
    margin-top: -50px;
}

.mt-60-none {
    margin-top: -60px;
}

.mt-80-none {
    margin-top: -80px;
}

.mt-100-none {
    margin-top: -100px;
}

.mt-120-none {
    margin-top: -120px;
}

.mt-150-none {
    margin-top: -150px;
}

.mb-10-none {
    margin-bottom: -10px;
}

.mb-20-none {
    margin-bottom: -20px;
}

.mb-30-none {
    margin-bottom: -30px;
}

.mb-40-none {
    margin-bottom: -40px;
}

.mb-50-none {
    margin-bottom: -50px;
}

.mb-60-none {
    margin-bottom: -60px;
}

.mb-80-none {
    margin-bottom: -80px;
}

@media only screen and (max-width: 575px) {
    .mb-80-none {
        margin-bottom: -40px;
    }
}

.mb-100-none {
    margin-bottom: -100px;
}

.mb-120-none {
    margin-bottom: -120px;
}

.mb-150-none {
    margin-bottom: -150px;
}

/*-------------------------------------------------
    [ ## color ]
*/
.bg--primary {
    background-color: #7367f0 !important;
}

.bg--secondary {
    background-color: #868e96;
}

.bg--success {
    background-color: #28c76f;
}

.bg--danger {
    background-color: #ea5455;
}

.bg--warning {
    background-color: #ff9f43;
}

.bg--info {
    background-color: #1e9ff2;
}

.bg--dark {
    background-color: #10163A;
}

.bg--base {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
}

.text--primary {
    color: #7367f0;
}

.text--secondary {
    color: #868e96;
}

.text--success {
    color: #28c76f;
}

.text--danger {
    color: #ea5455;
}

.text--warning {
    color: #ff9f43;
}

.text--info {
    color: #1e9ff2;
}

.text--dark {
    color: #10163A;
}

.text--base {
    color: #2ecc71 !important;
}

.border--primary {
    border: #7367f0;
}

.border--secondary {
    border: 1px solid #868e96;
}

.border--success {
    border: 1px solid #28c76f;
}

.border--danger {
    border: 1px solid #ea5455;
}

.border--warning {
    border: 1px solid #ff9f43;
}

.border--info {
    border: 1px solid #1e9ff2;
}

.border--dark {
    border: 1px solid #10163A;
}

.border--base {
    border: 1px solid #e1e7ec !important;
}

.section--bg {
    background-color: #1e2746 !important;
}

.bg--gray {
    background-color: #f9f9f9;
}

.border--rounded {
    border-radius: 3px !important;
}

.border--capsule {
    border-radius: 100px;
}

.badge {
    padding-bottom: 5px;
}

/*-------------------------------------------------
    [ ## Table ]
*/
.table-area {
    margin-top: -15px;
    margin-bottom: -15px;
}

.custom-table {
    width: 100%;
    border-spacing: 0 15px;
    border-collapse: separate;
}

@media only screen and (max-width: 991px) {
    .custom-table thead {
        display: none;
    }
}

.custom-table thead tr {
    background-color: #1e2746;
}

.custom-table thead tr th {
    border: none;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
}

.custom-table thead tr th:first-child {
    border-radius: 5px 0 0 5px;
}

.custom-table thead tr th:last-child {
    border-radius: 0 5px 5px 0;
}

.custom-table tbody tr {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    transition: all 0.5s;
}

.custom-table tbody tr:hover {
    transform: translateY(-7px);
}

.custom-table tbody tr td {
    border: none;
    font-weight: 600;
    text-align: center;
    color: #606975;
    font-size: 14px;
    padding: 10px 20px;
}

.custom-table tbody tr td .author-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

.custom-table tbody tr td .author-info .thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.custom-table tbody tr td .author-info .thumb img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.custom-table tbody tr td .author-info .content {
    padding-left: 15px;
    width: calc(100% - 45px);
}

.custom-table tbody tr td a {
    font-weight: 600;
    font-size: 14px;
}

.custom-table tbody tr td .btn {
    border-radius: 3px;
}

.custom-table tbody tr td:first-child {
    border-radius: 5px 0 0 5px;
}

.custom-table tbody tr td:last-child {
    border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 991px) {
    .custom-table tbody tr td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        border-bottom: 1px solid #e1e7ec;
    }

    .custom-table tbody tr td:last-child {
        border: none;
    }

    .custom-table tbody tr td::before {
        content: attr(data-label);
        margin-right: auto;
        color: #3f51b5;
        width: 50%;
        text-align: left;
    }
}

/*-------------------------------------------------
    [ ## tab ]
*/
.nav-tabs {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #e1e7ec;
}

.nav-tabs .nav-link {
    padding: 5px 15px;
    border: 0;
    border-bottom: 1px solid transparent;
    color: #606975;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
}

.nav-tabs .nav-link.active {
    color: #fff;
    border-bottom: 1px solid #3f51b5;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
}

.nav-tabs .nav-link:not(:last-child) {
    margin-right: 20px;
}

@media only screen and (max-width: 420px) {
    .nav-tabs .nav-link:not(:last-child) {
        margin-right: 0;
    }
}

/*-------------------------------------------------
    [ ## slider ]
*/
.swiper-notification {
    display: none;
}

.swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.swiper-pagination .swiper-pagination-bullet {
    height: 3px;
    width: 25px;
    border-radius: 0;
    background-color: #2f2f35;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #3f51b5;
}

.slider-next, .slider-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9;
}

@media only screen and (max-width: 991px) {
    .slider-next, .slider-prev {
        display: none;
    }
}

.slider-next {
    right: -20px;
}

.slider-prev {
    left: -20px;
}

/*-------------------------------------------------
    [ ## pagination ]
*/
.pagination {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    border-top: 1px solid #e1e7ec;
    border-radius: 0;
}

.pagination .page-item {
    text-align: center;
    padding: 20px 3px 3px 3px;
}

.pagination .page-item a, .pagination .page-item span {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #e1e7ec;
    color: #2f2f35;
    padding: 0;
    line-height: 30px;
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin: 0;
}

.pagination .page-item.disabled span {
    background: rgba(63, 81, 181, 0.4);
    border: 1px solid rgba(63, 81, 181, 0.1);
    color: white;
}

.pagination .page-item .page-link {
    transition: all 0.3s;
}

.pagination .page-item.active .page-link, .pagination .page-item:hover .page-link {
    background: #3f51b5;
    border-color: #3f51b5;
    color: white;
}

/*-------------------------------------------------
    [ ## widget ]
*/
.widget-title {
    font-size: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e7ec;
    text-transform: uppercase;
}

/*-------------------------------------------------
    [ ## tab ]
*/
.tab-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
    border: none;
}

.tab-menu .nav-item {
    background-color: transparent;
    border: 2px solid #1e2746;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
    color: #2f2f35;
    padding: 3px 25px;
    transition: all 0.3s;
}

.tab-menu .nav-item:hover {
    background-color: #1e2746;
    color: #fff;
}

.tab-menu .nav-item.active {
    background-color: #3f51b5;
    border: 2px solid #3f51b5;
    color: #fff;
}

/*-------------------------------------------------
    [ ## card ]
*/
.custom--card {
    border: none;
    box-shadow: 7px 5px 30px 0px rgba(72, 73, 121, 0.15);
}

.custom--card .card-header {
    background-color: #1e2746;
    padding: 0.8rem 1rem;
}

.custom--card .card-header .card-title {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 500;
}

.custom--card .card-header .card-title i {
    margin-right: 5px;
}

.custom--card .card-header .card-btn a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.custom--card .card-header .card-btn a i {
    margin-right: 5px;
}

.custom--card .card-body {
    padding: 40px;
}

@media only screen and (max-width: 991px) {
    .custom--card .card-body {
        padding: 20px;
    }
}

.custom--card .card-body .card-form-wrapper .card-label {
    text-transform: uppercase;
}

.custom--card .card-body .card-form-wrapper input {
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 10px 15px;
}

.custom--card .card-body .card-form-wrapper textarea {
    height: auto;
    min-height: 120px;
    color: #606975;
}

/*-------------------------------------------------
    [ ## Heading ]
*/
h1, h2, h3, h4, h5, h6 {
    clear: both;
    line-height: 1.2em;
    color: #2f2f35;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 35px;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 32px;
    }
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 20px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h3 {
        font-size: 20px;
    }
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h4 {
        font-size: 16px;
    }
}

h5 {
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h5 {
        font-size: 14px;
    }
}

h6 {
    font-size: 12px;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h6 {
        font-size: 12px;
    }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    color: inherit;
    text-decoration: none;
}

.section-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e1e7ec;
}

.section-header.white .section-title {
    color: #fff;
}

.section-header .section-title {
    position: relative;
    font-weight: 600;
    color: #2f2f35;
    margin-bottom: 10px;
    margin-top: -17px;
}

@media only screen and (max-width: 575px) {
    .section-header p {
        font-size: 15px;
    }
}

/*-------------------------------------------------
    [ ## Buttons ]
*/
input[type=submit]:hover {
    color: #fff;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
    outline: none;
}

button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn {
    -webkit-transition: all 0.3s ease 0.02s;
    transition: all 0.3s ease 0.02s;
}

.btn:active,
.btn:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}

.btn {
    border: 0px solid;
    border-radius: 0px;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 767px) {
    .btn {
        font-size: 14px;
    }
}

.btn-rounded {
    border-radius: 3px;
}

.btn-capsule {
    border-radius: 100px;
}

/*-------------------------------------------------
    [ ## custom btn ]
*/
.btn--primary {
    background-color: #7367f0;
}

.btn--secondary {
    background-color: #868e96;
}

.btn--success {
    background-color: #28c76f;
}

.btn--danger {
    background-color: #ea5455;
}

.btn--warning {
    background-color: #ff9f43;
}

.btn--info {
    background-color: #1e9ff2;
}

.btn--dark {
    background-color: #10163A;
}

.badge--primary {
    background-color: #7367f0;
}

.badge--secondary {
    background-color: #868e96;
}

.badge--success {
    background-color: #28c76f;
}

.badge--danger {
    background-color: #ea5455;
}

.badge--warning {
    background-color: #ff9f43;
}

.badge--info {
    background-color: #1e9ff2;
}

.badge--dark {
    background-color: #10163A;
}

.border--primary {
    border: 1px solid #7367f0;
}

.border--secondary {
    border: 1px solid #868e96;
}

.border--success {
    border: 1px solid #28c76f;
}

.border--danger {
    border: 1px solid #ea5455;
}

.border--warning {
    border: 1px solid #ff9f43;
}

.border--info {
    border: 1px solid #1e9ff2;
}

.border--dark {
    border: 1px solid #10163A;
}

.btn--base {
    position: relative;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #147248 0%, #a7d747 100%);
    background: -webkit-gradient(linear, left top, right top, from(#147248), to(#a7d747));
    background: -webkit-linear-gradient(left, #147248 0%, #a7d747 100%);
    background: -o-linear-gradient(left, #147248 0%, #a7d747 100%);
    background: linear-gradient(to right, #147248 0%, #a7d747 100%);
    color: #fff;
    text-align: center;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    z-index: 2;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.btn--base.active {
    background: transparent;
    color: #606975;
    border: 1px solid #e1e7ec;
}

.btn--base.active:focus, .btn--base.active:hover {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    border: 1px solid #3f51b5;
    box-shadow: none;
}

.btn--base:focus, .btn--base:hover {
    color: #fff;
    box-shadow: 0 10px 20px rgba(46, 204, 113, 0.4);
}

@media only screen and (max-width: 575px) {
    .btn--base {
        padding: 6px 20px;
        font-size: 14px;
    }
}

.custom-btn {
    color: #3f51b5;
    font-weight: 500;
    font-size: 13px;
    display: block;
}

.custom-btn:hover {
    color: #3f51b5;
}

/*-------------------------------------------------
    [ ## Fields ]
*/
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
}

input, textarea {
    padding: 12px 20px;
}

input::placeholder, textarea::placeholder {
    color: #606975;
}

textarea {
    display: block;
    width: 100%;
    display: block;
    min-height: 120px;
}

input,
select,
textarea {
    border: 1px solid #e1e7ec;
    vertical-align: baseline;
    font-size: 100%;
    color: #606975;
}

label {
    font-size: 14px;
    color: #606975;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

/*-------------------------------------------------
    [ ## Forms ]
*/
select {
    outline: none;
    cursor: pointer;
}

option {
    color: #2f2f35;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #e1e7ec;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    color: #606975;
    appearance: auto;
    background-color: #f9f9f9;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #e1e7ec;
    color: #606975;
    background-color: #f9f9f9;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    border: none;
    font-size: 14px;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    color: #fff;
    height: 45px;
    border-radius: 0 3px 3px 0;
    font-weight: 500;
}

.form--control {
    background-color: transparent;
    box-shadow: none;
    height: 40px;
    padding: 0 20px;
    color: #606975;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
}

.form--control:focus {
    background-color: transparent;
    box-shadow: none;
    color: #606975;
}

.form--control::placeholder {
    color: #606975;
}

.custom-check-group {
    display: block;
    margin-bottom: 12px;
}

.custom-check-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom-check-group input:checked + label::before {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
}

.custom-check-group input:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-check-group label {
    position: relative;
    cursor: pointer;
}

.custom-check-group label::before {
    content: "";
    -webkit-appearance: none;
    background: #f0eeee;
    border-radius: 5px;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
    top: -2px;
}

.forgot-password a {
    color: #3f51b5;
    font-weight: 600;
}

.submit-btn {
    padding: 8px 30px;
    color: #fff;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
}

@media only screen and (max-width: 991px) {
    .submit-btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}

.cancel-btn {
    padding: 8px 30px;
    color: #fff;
    background: #ea5455;
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
}

@media only screen and (max-width: 991px) {
    .cancel-btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/*-------------------------------------------------
    [ ## Chosen Select ]
*/
.chosen-select {
    z-index: 1;
    width: 100%;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 10px 30px 10px 20px;
}

.chosen-container {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
}

.chosen-container .chosen-single {
    margin: 0;
    z-index: 2;
    width: 100%;
    height: auto;
    outline: none;
    background: none;
    font-size: 14px;
    box-shadow: none;
    padding: 10px 12px;
    border-radius: 3px;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #e1e7ec;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chosen-container .chosen-single span {
    margin: 0;
    width: 100%;
    color: #606975;
    line-height: initial;
    font-weight: 500;
    font-size: 13px;
}

.chosen-container .chosen-search input {
    height: 35px !important;
    border-color: #e1e7ec !important;
    border-radius: 3px !important;
}

.chosen-container .chosen-results {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    line-height: 34px;
}

.chosen-container .chosen-results li {
    font-weight: 500;
}

.chosen-container .chosen-results li.highlighted {
    background: #3f51b5;
}

.chosen-container .chosen-drop {
    border-radius: 5px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border-radius: 5px;
    border: 1px solid #e1e7ec;
    background: transparent;
    box-shadow: none;
}

.btn-toggle {
    border-radius: 0 3px 3px 0;
    position: absolute !important;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    z-index: 9;
    border: none !important;
    color: #606975;
}

.input-group {
    margin-bottom: 10px;
}

/*-------------------------------------------------
    [ ## Overlay Element ]
*/
.bg_img {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-overlay-white {
    position: relative;
}

.bg-overlay-white:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
}

.bg-overlay-white > div {
    position: relative;
    z-index: 2;
}

@-webkit-keyframes left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes top {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes top {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes ripple {
    0%, 35% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes ripple {
    0%, 35% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes shakes {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes up_down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.item-details-section .item-card-wrapper--style .item-card {
    flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
    max-width: 100% !important;
}

.item-details-section .item-card-wrapper--style .item-card .item-card-content {
    margin-left: 0;
    padding-bottom: 15px;
}

.item-details-section .item-card-wrapper--style .item-card .item-card-content .item-card-title {
    width: 80%;
}

.item-details-section .item-card-wrapper--style .item-card .item-card-content .item-card-content-top {
    display: block;
}

@media only screen and (max-width: 575px) {
    .item-details-section .item-card-wrapper--style .item-card .item-card-content .item-card-content-top {
        margin-top: 0 !important;
    }
}

.item-details-section .item-card-wrapper--style .item-card .item-card-content p {
    font-size: 14px;
}

@media only screen and (max-width: 991px) {
    .item-details-section .item-card-wrapper--style .item-card .item-card-content p {
        margin-top: 5px;
    }
}

.empty-message-box {
    padding: 100px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.empty-message-box .icon {
    font-size: 120px;
    line-height: 1;
    animation: shake 1s 1 linear;
}

@media (max-width: 767px) {
    .empty-message-box .icon {
        font-size: 90px;
    }
}

.empty-message-box .caption {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .empty-message-box .caption {
        font-size: 18px;
    }
}

/*-------------------------------------------------
    [ ## Preloader ]
*/
.preloader {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 9999999;
    background-color: #fff;
}

.box-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
}

.loader:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.loader.animate .circle {
    animation: rotate 2s linear infinite;
}

.loader.animate .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

.loader.animate .line {
    animation: line 0.5s ease-in-out;
}

.circular {
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-linecap: round;
    stroke: #3f51b5;
}

.line {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    transform: rotate(45deg);
    stroke: #1e2746;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    0% {
        stroke: #3f51b5;
    }
    100% {
        stroke: #3f51b5;
    }
}

@keyframes line {
    to {
        stroke-dashoffset: 1000;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 620px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1020px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1390px;
    }
}

/*--------------------------------------------------------------
    [ ## team ]
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    [ ## Testimonial ]
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    [ ## Sections ]
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    [ ## Sections ]
--------------------------------------------------------------*/
/*-------------------------------------------------
    [ ### item block ]
*/
.all-sections {
    min-height: calc(100vh - 307px);
}

@media only screen and (max-width: 991px) {
    .all-sections {
        min-height: calc(100vh - 238px);
    }
}

.item-top-area {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e7ec;
    margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
    .item-top-area {
        display: block !important;
    }
}

.item-wrapper {
    width: 68%;
}

@media only screen and (max-width: 575px) {
    .item-wrapper {
        display: block !important;
    }
}

@media only screen and (max-width: 991px) {
    .item-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .item-wrapper-left {
        display: block !important;
    }
}

.item-wrapper-right {
    width: 30%;
}

@media only screen and (max-width: 991px) {
    .item-wrapper-right {
        width: 100%;
    }
}

.item-sorting {
    margin-right: 30px;
}

@media only screen and (max-width: 575px) {
    .item-sorting {
        margin-right: 0;
    }
}

.item-value {
    font-size: 13px;
    font-weight: 500;
}

@media only screen and (max-width: 575px) {
    .item-value {
        margin-top: 10px;
        text-align: center;
    }
}

.item-value .result {
    color: #2f2f35;
    font-weight: 600;
}

.view-btn-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: -3px -8px;
}

@media only screen and (max-width: 575px) {
    .view-btn-list {
        display: none;
    }
}

.view-btn-list li {
    margin: 3px 8px;
}

.view-btn-list li.active .list-btn {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    border-color: #3f51b5;
    color: #fff;
}

.list-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #e1e7ec;
    background-color: #fff;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
}

.search-from {
    position: relative;
}

.search-from input {
    padding: 10px 15px;
    border: 1px solid #e1e7ec;
    min-width: 300px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #606975;
    height: 40px;
}

@media only screen and (max-width: 1199px) {
    .search-from input {
        min-width: 100%;
    }
}

.search-from button, .search-from input[type=button], .search-from input[type=reset], .search-from input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #fff;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    border-radius: 0 3px 3px 0;
    width: 40px;
    height: 100%;
}

.item-card-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -20px;
    border-right: 1px solid #e1e7ec;
    padding-right: 30px;
}

@media only screen and (max-width: 991px) {
    .item-card-wrapper {
        border: none;
        padding-right: 0;
    }
}

.item-card-wrapper.list-view .item-card {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.item-card-wrapper.list-view .item-card .item-card-content-top {
    margin-top: 0;
    align-items: flex-start;
    width: 100%;
    order: 1;
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card .item-card-content-top {
        order: -2 !important;
        align-items: flex-end !important;
        margin-top: -35px !important;
    }
}

.item-card-wrapper.list-view .item-card .item-card-content-top .left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card .item-card-content-top .left {
        display: block;
    }
}

.item-card-wrapper.list-view .item-card .item-card-content-top .author-content {
    width: calc(100% - 40px);
    padding-left: 15px;
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card .item-card-content-top .author-content {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }
}

.item-card-wrapper.list-view .item-card-thumb {
    position: absolute;
    width: 295px;
    height: 100%;
    background-color: #1e2746;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .item-card-wrapper.list-view .item-card-thumb {
        width: 220px;
    }
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card-thumb {
        width: 100%;
        position: static;
        height: auto;
    }
}

.item-card-wrapper.list-view .item-card-thumb img {
    height: 100%;
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card-thumb img {
        height: auto;
    }
}

.item-card-wrapper.list-view .item-card-content {
    margin-left: 295px;
    padding: 15px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 6px;
}

@media only screen and (max-width: 767px) {
    .item-card-wrapper.list-view .item-card-content {
        margin-left: 220px;
    }
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card-content {
        margin-left: 0;
        padding-top: 20px;
    }
}

.item-card-wrapper.list-view .item-card-footer {
    margin-left: 295px;
    margin-top: 12px;
}

@media only screen and (max-width: 767px) {
    .item-card-wrapper.list-view .item-card-footer {
        margin-left: 220px;
    }
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card-footer {
        margin-left: 0;
    }
}

.item-card-wrapper.grid-view .item-card {
    flex: 0 0 calc(33.3333333333% - 15px);
    -ms-flex: 0 0 calc(33.3333333333% - 15px);
    max-width: calc(33.3333333333% - 15px);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 7px;
    margin-right: 7px;
}

@media only screen and (max-width: 1199px) {
    .item-card-wrapper.grid-view .item-card {
        flex: 0 0 calc(50% - 15px);
        -ms-flex: 0 0 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }
}

@media only screen and (max-width: 767px) {
    .item-card-wrapper.grid-view .item-card {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
}

.item-card-wrapper.grid-view .author-content {
    margin-top: 10px;
}

.item-card-wrapper.grid-view .item-card-title a {
    margin-top: 10px;
}

.item-card-wrapper.grid-view .right .item-amount {
    margin-bottom: 15px;
}

.item-card {
    border: 1px solid #e1e7ec;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.item-card:hover {
    transform: translateY(-7px);
}

.item-card .item-card-thumb {
    position: relative;
}

.item-card .item-card-thumb .item-level {
    position: absolute;
    top: 15px;
    left: -28px;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    padding: 3px 10px;
    min-width: 120px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.item-card .item-card-content {
    padding: 0 20px 20px 20px;
}

.item-card-content-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    margin-top: -23px;
    justify-content: space-between;
}

.item-card-content-top .author-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.item-card-content-top .author-thumb img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.item-card-content-top .author-content .name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.item-card-content-top .author-content .name .level-text {
    font-size: 12px;
    color: #3f51b5;
    font-weight: 500;
    margin-left: 4px;
}

.item-card-content-top .author-content .name .level-text::before {
    content: "-";
}

.item-card-content-top .author-content .ratings {
    font-size: 14px;
}

.item-card-content-top .author-content .ratings i {
    font-size: 12px;
    color: #ffbf00;
}

.item-card-content-top .author-content .ratings .rating {
    color: #ffbf00;
    font-weight: 600;
    font-size: 14px;
}

.item-card-content-top .right .selectQty {
    font-size: 14px;
    border: 1px solid #e1e7ec;
    font-weight: 500;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: transparent;
}

.item-card-content-top .right .item-amount {
    font-size: 22px;
    color: #3f51b5;
    font-weight: 600;
}

.item-card-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 7px 20px;
    border-top: 1px solid #e1e7ec;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: space-between;
}

.item-card-footer .item-love {
    border: 1px solid #e1e7ec;
    border-radius: 3px;
    padding: 2px 8px;
    font-size: 13px;
}

.item-card-footer .item-love i {
    color: #ea5455;
}

.item-card-footer .item-like {
    border: 1px solid #e1e7ec;
    border-radius: 3px;
    padding: 2px 8px;
    font-size: 13px;
}

.item-card-footer .item-like i {
    color: #3f51b5;
}

.order-btn a {
    padding: 3px 12px;
    font-size: 12px;
}

.buy-btn {
    padding: 2px 12px;
    font-size: 12px;
    border: 1px solid #3f51b5 !important;
    color: #3f51b5 !important;
}

.buy-btn:hover {
    color: #fff !important;
}

.date-btn {
    padding: 2px 12px;
    font-size: 12px;
    border: 1px solid #3f51b5 !important;
    color: #3f51b5 !important;
}

.date-btn:hover {
    color: #fff !important;
}

.bid-btn {
    padding: 3px 12px;
    font-size: 12px;
}

.item-card-title a {
    font-size: 16px;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
}

.item-card-title a:hover {
    color: #3f51b5;
}

.item-card-wrapper.list-view .item-card .item-card-content .item-card-content-top {
    margin-top: 0;
    align-items: flex-start;
    width: 100%;
    order: 1;
}

.item-card-wrapper.list-view .item-card-title {
    order: -1;
}

@media only screen and (max-width: 575px) {
    .item-card-wrapper.list-view .item-card-title {
        margin-top: 10px;
    }
}

.item-card-wrapper.list-view .item-card-title a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 0;
}

.item-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -3px -3px;
    margin-top: 10px;
}

.item-tags a {
    font-size: 11px;
    margin: 3px 3px;
    border: 1px solid #e1e7ec;
    border-radius: 999px;
    font-weight: 500;
    padding: 1px 10px;
    line-height: 1.8;
    transition: all 0.3s;
}

.item-tags a:hover {
    background-color: #3f51b5;
    color: #fff;
    border: 1px solid #3f51b5;
}

.item-category-area {
    margin-bottom: 60px;
    position: relative;
}

.category-slider {
    overflow: hidden;
}

.category-item-box {
    overflow: hidden;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    z-index: 2;
}

.category-item-box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}

.category-item-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.category-item-content .title {
    margin-bottom: 0;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 3px;
}

.item-details-section .item-card {
    flex: 0 0 calc(25% - 15px) !important;
    -ms-flex: 0 0 calc(25% - 15px) !important;
    max-width: calc(25% - 15px) !important;
}

@media only screen and (max-width: 1199px) {
    .item-details-section .item-card {
        flex: 0 0 calc(50% - 15px) !important;
        -ms-flex: 0 0 calc(50% - 15px) !important;
        max-width: calc(50% - 15px) !important;
    }
}

@media only screen and (max-width: 767px) {
    .item-details-section .item-card {
        flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.item-details-area {
    border-right: 1px solid #e1e7ec;
    padding-right: 30px;
}

@media only screen and (max-width: 991px) {
    .item-details-area {
        border: none;
        padding: 0;
    }
}

.item-details-slider {
    overflow: hidden;
}

.item-details-slider .slider-next {
    right: 10px;
}

.item-details-slider .slider-prev {
    left: 10px;
}

.item-small-slider {
    overflow: hidden;
}

.item-small-slider .item-small-thumb {
    border-radius: 3px;
    overflow: hidden;
}

.item-small-slider .item-small-thumb img {
    width: 100%;
}

.item-details-thumb-area {
    position: relative;
    padding: 30px;
    border: 1px solid #e1e7ec;
    border-radius: 3px;
}

@media only screen and (max-width: 991px) {
    .item-details-thumb-area {
        padding: 20px;
    }
}

.item-details-thumb {
    border-radius: 3px;
    overflow: hidden;
}

.item-details-thumb img {
    width: 100%;
}

.item-details-content {
    padding-top: 15px;
}

.item-details-content .title {
    font-weight: 600;
}

.item-details-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.item-details-footer .item-love {
    border-radius: 3px;
    padding: 4px 15px;
    font-size: 14px;
    background-color: #ea5455;
    color: #fff;
}

.item-details-footer .item-like {
    border-radius: 3px;
    padding: 4px 15px;
    font-size: 14px;
    background-color: #3f51b5;
    color: #fff;
}

.item-details-footer .footer-social li a {
    border: 1px solid #e1e7ec;
    color: #606975;
}

.item-details-footer .footer-social li a:hover, .item-details-footer .footer-social li a.active {
    color: #fff;
    border: 1px solid #3f51b5;
}

.ticket-message {
    word-break: break-all;
}

.product-desc-content {
    padding-top: 15px;
}

.product-desc-content .title {
    font-weight: 600;
    font-size: 24px;
}

@media only screen and (max-width: 991px) {
    .product-desc-content .title {
        font-size: 20px;
    }
}

.product-desc-content p {
    font-size: 14px;
    font-weight: 500;
}

.item-details-tag {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #e1e7ec;
}

.item-details-tag ul {
    margin: -3px -3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item-details-tag ul li {
    margin: 3px 3px;
}

.item-details-tag ul li.caption {
    font-weight: 600;
}

.item-details-tag ul li a {
    padding: 1px 20px;
    border: 1px solid #e1e7ec;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
}

.product-reviews-content {
    padding-top: 15px;
}

.product-reviews-content .reviews-title {
    font-size: 20px;
    font-weight: 600;
}

.product-reviews-content .comment-container {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e7ec;
}

.product-reviews-content .reply-container {
    padding-left: 60px;
}

.product-reviews-content .comment-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.product-reviews-content .comment-box {
    width: calc(100% - 65px);
    padding-left: 20px;
}

.product-reviews-content .comment-box .ratings-container {
    margin-bottom: 5px;
}

.product-reviews-content .comment-box .ratings-container i {
    color: #3f51b5;
}

.product-reviews-content .comment-info {
    font-size: 14px;
    font-weight: 500;
}

.product-reviews-content .avatar-name {
    display: inline;
    font-weight: 600;
    font-size: 16px;
}

.product-reviews-content .comment-text {
    font-size: 14px;
    font-weight: 500;
}

.item-review-widget-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .item-review-widget-wrapper {
        display: block;
    }
}

.item-review-widget-wrapper .left {
    width: 40%;
    padding: 15px 30px 20px 30px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
}

@media only screen and (max-width: 767px) {
    .item-review-widget-wrapper .left {
        width: 100%;
    }
}

.item-review-widget-wrapper .left .sub-title {
    font-weight: 500;
}

.item-review-widget-wrapper .right {
    width: 55%;
}

@media only screen and (max-width: 767px) {
    .item-review-widget-wrapper .right {
        width: 100%;
        padding-top: 15px;
    }
}

.item-review-widget-wrapper .right ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
}

.item-review-widget-wrapper .right ul li .caption {
    width: calc(100% - 100px);
}

.comment-form .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.comment-form .rating:not(:checked) > input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.comment-form .rating:not(:checked) > label {
    width: 1em;
    padding: 0 0.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
}

.comment-form .rating:not(:checked) > label:before {
    content: "★";
    border: none;
}

.comment-form .rating > input[type=radio]:checked + label:before {
    border-color: transparent;
    background-color: transparent;
}

.comment-form .rating > input:checked ~ label {
    color: #f70;
}

.comment-form .rating:not(:checked) > label:hover,
.comment-form .rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.comment-form .rating > input:checked + label:hover,
.comment-form .rating > input:checked + label:hover ~ label,
.comment-form .rating > input:checked ~ label:hover,
.comment-form .rating > input:checked ~ label:hover ~ label,
.comment-form .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.comment-form .rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.product-comment-content {
    padding-top: 15px;
}

.reply-btn {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    color: #fff;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.service-card {
    border: 1px solid #e1e7ec;
    border-radius: 3px;
}

.service-card .service-card-header {
    border-bottom: 1px solid #e1e7ec;
    padding: 8px;
}

.service-card .service-card-header .title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
}

.service-card .right .value {
    font-size: 14px;
    font-weight: 500;
}

.service-card-form .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e7ec;
}

.service-card-form .custom-check-group {
    margin-bottom: 0;
}

.service-card-form .custom-check-group label {
    margin-bottom: 0;
}

.service-card-btn {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.service-card-btn a {
    padding: 7px 12px;
    font-size: 14px;
}

.item-overview-section .item-details-area {
    border-right: none;
    padding-right: 0;
    border-left: 1px solid #e1e7ec;
    padding-left: 30px;
}

@media only screen and (max-width: 991px) {
    .item-overview-section .item-details-area {
        border: none;
        padding: 0;
    }
}

.item-overview-section .profile-widget-author {
    display: block !important;
    text-align: center;
    margin-left: 0;
    margin-top: -40px !important;
    position: relative;
}

.item-overview-section .profile-widget-author .content {
    width: 100% !important;
    padding-left: 0 !important;
    padding-top: 10px;
}

.item-overview-section .profile-widget-author .content .ratings span {
    font-size: 12px;
    font-weight: 500;
}

.item-overview-section .profile-widget-thumb {
    position: relative;
}

.item-overview-section .profile-widget-thumb .badge-offline {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 999px;
    line-height: 1.2;
}

.item-overview-section .profile-widget-thumb .badge-follow {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 999px;
    line-height: 1.2;
}

.widget p {
    font-size: 14px;
}

.follow-widget-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.follow-widget-author {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

.follow-widget-author .thumb {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.follow-widget-author .thumb img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.follow-widget-author .content {
    width: calc(100% - 45px);
    padding-left: 15px;
}

.follow-widget-author .content .name {
    font-weight: 600;
    margin-bottom: 0;
}

.follow-widget-author .content .level {
    font-size: 13px;
    font-weight: 500;
}

.follow-btn a {
    padding: 3px 12px;
    font-size: 12px;
    border: 1px solid #3f51b5 !important;
    color: #3f51b5 !important;
}

.follow-btn a:hover {
    color: #fff !important;
}

.custom-card-wrapper {
    border-right: none;
    padding-right: 0;
    padding-left: 30px;
    border-left: 1px solid #e1e7ec;
}

@media only screen and (max-width: 991px) {
    .custom-card-wrapper {
        border: none;
        padding: 0;
    }
}

/*-------------------------------------------------
    [ ### account block ]
*/
.account-logo-area {
    position: relative;
    margin-bottom: 20px;
}

.account-logo-area .account-logo img {
    height: 30px;
}

.account-header {
    margin-bottom: 30px;
}

.account-header .title {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

.account-header .title::before {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 35%;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.2) 0%, rgba(96, 105, 117, 0.3) 100%);
    left: 0;
}

.account-header .title::after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 35%;
    background: -webkit-linear-gradient(right, rgba(96, 105, 117, 0.3) 0%, rgba(255, 255, 255, 0.2) 100%);
    right: 0;
}

@media only screen and (max-width: 991px) {
    .account-header .title {
        font-size: 16px;
    }
}

.account-form-area {
    position: relative;
    padding: 30px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #e1e7ec;
}

@media only screen and (max-width: 767px) {
    .account-form-area {
        padding: 20px;
    }
}

.account-form-area::before {
    background: #fff;
    border: 1px solid #e1e7ec;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8", endColorstr="#f9f9f9", GradientType=0);
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}

@media only screen and (max-width: 991px) {
    .account-form-area::before {
        display: none;
    }
}

.account-form-area::after {
    background: #fff;
    border: 1px solid #e1e7ec;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8", endColorstr="#f9f9f9", GradientType=0);
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}

@media only screen and (max-width: 991px) {
    .account-form-area::after {
        display: none;
    }
}

/*-------------------------------------------------
    [ ### contact block ]
*/
.contact-wrapper {
    border-radius: 3px;
    overflow: hidden;
}

.contact-form-area {
    background-color: #f8f8f8;
    padding: 40px;
    border: 2px solid #59A52C;
}

@media only screen and (max-width: 991px) {
    .contact-form-area {
        padding: 40px 20px;
    }
}

.contact-form-area .title {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #59A52C !important;
}

@media only screen and (max-width: 991px) {
    .contact-form-area .title {
        font-size: 22px;
    }
}

.contact-form-area p {
    font-size: 14px;
    color: #606975;
}

.contact-form-area .contact-form {
    margin-top: 30px;
}

.contact-form-area textarea {
    border-radius: 3px;
    padding: 10px 20px;
    min-height: 150px;
}

.contact-info-item-area {
    height: 100%;
    position: relative;
    padding: 40px;
    z-index: 2;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
    .contact-info-item-area {
        padding: 40px 20px;
    }
}

.contact-info-item-area::after {
    background-color: #1e2746;
    opacity: 0.95;
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.contact-info-item-area .header-title {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .contact-info-item-area .header-title {
        font-size: 22px;
    }
}

.contact-info-item-area p {
    font-size: 14px;
    color: #fff;
}

.contact-info-icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #3f51b5;
    box-shadow: 7px 5px 30px 0px rgba(72, 73, 121, 0.15);
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}

.contact-info-content {
    width: calc(100% - 50px);
    padding-left: 15px;
}

.contact-info-content .title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .contact-info-content .title {
        font-size: 16px;
    }
}

.contact-info-content p {
    font-size: 14px;
}

@media only screen and (max-width: 991px) {
    .contact-info-content p {
        font-size: 12px;
    }
}

.maps {
    height: 400px;
}

/*--------------------------------------------------------------
    [ ## Blog ]
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog-block
--------------------------------------------------------------*/
.blog-item {
    border: 1px solid #e1e7ec;
    border-radius: 3px;
    padding: 10px;
    transition: all 0.3s;
}

.blog-item:hover {
    transform: translateY(-7px);
}

.blog-thumb {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.blog-thumb img {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .blog-thumb img {
        height: auto;
    }
}

.blog-thumb::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -8px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff;
}

.blog-thumb .blog-date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    padding: 5px 0;
    border-radius: 3px;
}

.blog-thumb .blog-date .title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

.blog-thumb .blog-date .sub-title {
    font-size: 13px;
    width: 100%;
    display: block;
    color: #fff;
    font-weight: 500;
}

.blog-content-inner {
    background-color: #fff;
    padding: 20px 10px 10px 10px;
}

.blog-content-inner .title {
    font-size: 18px;
    font-weight: 600;
}

.blog-content-inner .title a {
    transition: all 0.3s;
}

.blog-content-inner .title a:hover {
    color: #3f51b5;
}

.blog-content-inner p {
    font-size: 14px;
}

.blog-btn a {
    font-size: 13px;
    padding: 5px 15px;
}

.blog-details-section .blog-thumb img {
    height: auto;
}

.blog-details-section .blog-content-inner .title {
    font-size: 24px;
}

@media only screen and (max-width: 991px) {
    .blog-details-section .blog-content-inner .title {
        font-size: 20px;
    }
}

.blog-details-section .blog-content-inner p {
    font-size: 15px;
}

.blog-details-section .blog-item-area {
    border-right: 1px solid #e1e7ec;
    padding-right: 30px;
}

.blog-social-area {
    border: 1px solid #e1e7ec;
    margin-top: 30px;
    padding: 20px;
    border-radius: 3px;
}

.blog-social-area .title {
    margin-bottom: 0;
    font-size: 18px;
}

@media only screen and (max-width: 991px) {
    .blog-social-area .title {
        margin-bottom: 10px;
    }
}

.blog-social-area .blog-social li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e1e7ec;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.3s;
}

.blog-social-area .blog-social li:hover {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, rgb(44, 221, 155) 0%, rgb(29, 200, 204) 100%);
    color: #fff;
    border: 1px solid #3f51b5;
}

.blog-social-area .blog-social li + li {
    margin-left: 5px;
}

.sidebar {
    position: sticky;
    top: 10%;
}

footer {
    background: #1d2234;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bs-primary) !important;
}

.page-link {
    color: var(--bs-primary) !important;
}

.contact-form-area {
    background: #f8f8f8;
}

.form--control {
    border: 2px solid #59A52C;
}

.contact-form-area textarea {
    border-radius: 15px;
}

.fix-links a {
    color: #6ea8fe;
}
.fix-links a:hover {
    text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */

.ribbon {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    --t: 10px; /* the top offset */
    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path:
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: #c30d0c;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}
