#ticketList {
    width: 100%;
}
.ticket {
    background: white;
    padding: 15px 25px;
}
.ticket~.ticket {
    border-top: 1px solid #DDD;
}
.ticket .title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.ticket .date {
    color: #888;
}

.ticket-date {
    color: #888;
    font-size: 12px;
}

.ticket-btn--reply {
    background-color: #28c76f;
    border-radius: 15px;
}